In [1]:
from dqt import DBUtils, get_fut_min, get_fut_taq
import pandas as pd
import numpy as np

In [24]:
dbu = DBUtils()
help(dbu)

Help on DBUtils in module dqt.debugo_utils object:

class DBUtils(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, db_info={'host': '127.0.0.1', 'port': 8000, 'user': 'quantdb', 'passwd': 'Qwe|54321', 'db': 'quantdb'})
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  clear_factor_result(self, factor_name, signal_name=None, table_name='backtest_results')
 |
 |  get_all(self, variety=None, start_date='2015-01-01', end_date=None, table='all_future_daily', fields='*')
 |
 |  get_daily(self, symbol=None)
 |
 |  get_factor(self, factor_name, index_on=['symbol', 'date'], signal_name='*', symbol=None, variety=None, start_date='2013-01-01', end_date=None)
 |
 |  get_future_min(self, variety=None, symbol=None, start_date='2015-01-01', end_date=None, bar_size=1)
 |      获得期货分钟数据
 |      @param variety: 品种名称，比如ic, ih, if
 |      @param symbol: 合约代码, 比如IF1812。variety和symbol必须指定其中一个
 |      @param start_date: 开始日期。 None, datetime.date类型或者字符串类型，比如'2015-01-01'。默认为2015-01-01
 |      @param end_date: 结束日期。None, datetime.date类型或者字符串类型，比如'2015-01-01'。默认为None
 |      @parma bar_size：分钟线大小，比如1。默认为1
 |
 |      @return pd.DataFrame
 |
 |  get_future_taq(self, symbol, start_date=None, end_date=None)
 |
 |  get_index_data(self, indicator=None, start_date='2009-12-30', column='close', index_data_table='index_data')
 |
 |  get_index_info(self, indicator=None, index_info_table='index_codes')
 |
 |  get_indicator_data(self, indicators, indicator_data_table='indicator_data', code_column='qtid')
 |
 |  get_indicator_info(self, indicator_info_table='indicator_codes')
 |
 |  get_info(self, variety=None)
 |
 |  get_intertemporal(self, variety, start_date, end_date=None, mode='main_sub')
 |
 |  get_main_daily(self, variety=None, start_date='2015-01-01', end_date=None)
 |
 |  get_mfl1_mssql(self, symbol, start_date, end_date, mins='01')
 |
 |  get_stock_daily(self, symbol=None, start_date='2012-01-01', end_date=None, columns='*', table_name='all_ashare_daily')
 |
 |  get_stock_info(self, table_name='ashare_info')
 |
 |  get_submain_daily2(self, variety, start_date='2013-01-01')
 |
 |  get_symbol_daily(self, symbol, day, table='wind_min_recently')
 |
 |  get_symbol_data(self, symbol, start_date='2015-01-01', end_date=None, table='all_future_daily', fields='*')
 |
 |  get_trading_day(self)
 |
 |  get_trading_day_diff(self, start, end)
 |
 |  get_trading_day_map(self)
 |
 |  is_trading_day(self, day)
 |
 |  save_factor(self, data, factor_name, append=True, save_index=False)
 |
 |  to_trading_day(self, day=None, shift=0, forward=True)
 |      get specified trading day with a shift and forward direction.
 |
 |      :param day: string. Start day like '2015-01-01'.
 |      :param shift: integer. Date shift.
 |      :param forward: boolean. Forward or backward day as trading day.
 |      :return: string. The desired trading day.
 |      :cvar: to_trading_day("2015-01-01", shift=-1), to_trading_day("2015-01-01", shift=0, forward=False)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  date_transform(day, date_pattern=re.compile('^([0-9]{4})[-/]?([0-9]{2})[-/]?([0-9]{2})'))
 |      transform a date string to datetime.date object.
 |      :param day, string, e.g. 2016-01-01, 20160101 or 2016/01/01
 |      :return: object of datetime.date(such as 2016-01-01) or None
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [12]:
df.duplicated().any()

True

In [21]:
pd.DataFrame.rolling(pd.Series([1,2,3,4,5]), 2).max()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [8]:
taq_df = get_fut_taq('SP1906')
print(taq_df)
taq_df.to_csv('futures.csv')

                            datetime    last  volume   turnover    oi      a1  \
trading_date
2018-11-27   2018-11-27 07:05:02.000  5980.0       0          0     0     0.0
2018-11-27   2018-11-27 08:59:00.500  5828.0    2072  120756160  2072  5830.0
2018-11-27   2018-11-27 09:00:00.500  5828.0    2812  163880480  2812  5828.0
2018-11-27   2018-11-27 09:00:01.000  5814.0    2936  171088040  2924  5812.0
2018-11-27   2018-11-27 09:00:01.500  5812.0    3102  180753320  3068  5808.0
2018-11-27   2018-11-27 09:00:02.000  5806.0    3498  203710120  3460  5806.0
2018-11-27   2018-11-27 09:00:02.500  5800.0    3688  214740840  3608  5800.0
2018-11-27   2018-11-27 09:00:03.000  5796.0    3848  224011240  3744  5796.0
2018-11-27   2018-11-27 09:00:03.500  5800.0    4244  246938280  4132  5800.0
2018-11-27   2018-11-27 09:00:04.000  5800.0    4416  256914520  4296  5802.0
2018-11-27   2018-11-27 09:00:04.500  5806.0    4608  268054200  4392  5806.0
2018-11-27   2018-11-27 09:00:05.000  5806.0    4968  288942200  4696  5808.0
2018-11-27   2018-11-27 09:00:05.500  5808.0    5048  293587960  4756  5808.0
2018-11-27   2018-11-27 09:00:06.000  5808.0    5158  299976760  4820  5810.0
2018-11-27   2018-11-27 09:00:06.500  5810.0    5328  309850280  4862  5820.0
2018-11-27   2018-11-27 09:00:07.000  5818.0    5386  313221760  4898  5818.0
2018-11-27   2018-11-27 09:00:07.500  5812.0    5466  317875000  4946  5812.0
2018-11-27   2018-11-27 09:00:08.000  5814.0    5596  325427920  5054  5814.0
2018-11-27   2018-11-27 09:00:08.500  5808.0    5638  327868360  5078  5810.0
2018-11-27   2018-11-27 09:00:09.000  5810.0    5774  335767840  5170  5810.0
2018-11-27   2018-11-27 09:00:09.500  5800.0    6090  354114760  5410  5800.0
2018-11-27   2018-11-27 09:00:10.000  5802.0    6348  369077240  5628  5794.0
2018-11-27   2018-11-27 09:00:10.500  5792.0    6508  378359400  5704  5790.0
2018-11-27   2018-11-27 09:00:11.000  5790.0    6560  381372640  5690  5800.0
2018-11-27   2018-11-27 09:00:11.500  5796.0    6680  388319680  5792  5798.0
2018-11-27   2018-11-27 09:00:12.000  5796.0    6702  389595000  5790  5798.0
2018-11-27   2018-11-27 09:00:12.500  5794.0    6758  392841120  5796  5798.0
2018-11-27   2018-11-27 09:00:13.000  5794.0    6798  395159240  5828  5798.0
2018-11-27   2018-11-27 09:00:13.500  5794.0    6832  397129280  5860  5798.0
2018-11-27   2018-11-27 09:00:14.000  5794.0    6856  398519720  5882  5792.0
...                              ...     ...     ...        ...   ...     ...
2019-06-17   2019-06-14 20:59:00.500  4680.0       0          0  5020  4708.0
2019-06-17   2019-06-14 21:00:00.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:03:11.000  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:03:19.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:08:13.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:10:41.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:11:29.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:20:05.000  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:20:56.000  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:21:11.500  4680.0       0          0  5020  4648.0
2019-06-17   2019-06-14 21:28:26.000  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:28:39.000  4680.0       0          0  5020  4582.0
2019-06-17   2019-06-14 21:58:04.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 21:58:32.000  4680.0       0          0  5020  4592.0
2019-06-17   2019-06-14 22:01:39.500  4680.0       0          0  5020  4650.0
2019-06-17   2019-06-14 22:02:02.500  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-14 22:02:08.500  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-14 23:00:00.500  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-17 09:00:00.500  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-17 09:17:13.000  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-17 09:19:52.500  4680.0       0          0  5020  4572.0
2019-06-17   2019-06-17 09:25:41.000  4680.0       0          0  5020  4500.0
2019-06-17   2019-06-17 09:25:42.000  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 10:15:00.500  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 10:30:00.500  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 11:30:00.500  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 13:30:00.500  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 14:57:31.000  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 15:00:00.500  4500.0      36    1620000  4984  4572.0
2019-06-17   2019-06-17 15:16:08.500  4500.0      36    1620000  4984  4572.0

              a1v      b1  b1v  symbol
trading_date
2018-11-27      0     0.0    0  SP1906
2018-11-27     33  5828.0  179  SP1906
2018-11-27    259  5812.0    1  SP1906
2018-11-27     10  5808.0    2  SP1906
2018-11-27     21  5802.0    9  SP1906
2018-11-27      7  5800.0    1  SP1906
2018-11-27     20  5788.0  232  SP1906
2018-11-27      4  5794.0    1  SP1906
2018-11-27     52  5798.0    1  SP1906
2018-11-27     14  5800.0   19  SP1906
2018-11-27     17  5804.0   10  SP1906
2018-11-27     49  5806.0    3  SP1906
2018-11-27     23  5806.0  105  SP1906
2018-11-27      5  5808.0    3  SP1906
2018-11-27    265  5810.0    2  SP1906
2018-11-27      1  5814.0    3  SP1906
2018-11-27      1  5810.0   29  SP1906
2018-11-27     94  5812.0    1  SP1906
2018-11-27     14  5808.0  109  SP1906
2018-11-27     13  5808.0   63  SP1906
2018-11-27     55  5798.0    3  SP1906
2018-11-27      2  5788.0   56  SP1906
2018-11-27      1  5788.0   48  SP1906
2018-11-27      8  5790.0    2  SP1906
2018-11-27     12  5794.0   12  SP1906
2018-11-27     13  5796.0   12  SP1906
2018-11-27      1  5794.0   12  SP1906
2018-11-27      1  5794.0    5  SP1906
2018-11-27      1  5790.0   20  SP1906
2018-11-27      1  5790.0   19  SP1906
...           ...     ...  ...     ...
2019-06-17     20     0.0    0  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     20  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     18  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906
2019-06-17     10  4400.0   20  SP1906

[3392625 rows x 10 columns]

In [52]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                               'Parrot', 'Parrot', 'Falcon'],
                   'Max Speed': [380., 370., 24., 26., 340]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
4  Falcon      340.0

In [61]:
list(df.groupby('Animal').groups.keys())

['Falcon', 'Parrot']

In [56]:
df.groupby('Animal').indices

{'Falcon': array([0, 1, 4]), 'Parrot': array([2, 3])}

In [45]:
groupby_list = list(df.groupby('Animal'))

In [46]:
groupby_list

[('Falcon',    Animal  Max Speed
  0  Falcon      380.0
  1  Falcon      370.0
  4  Falcon      340.0), ('Parrot',    Animal  Max Speed
  2  Parrot       24.0
  3  Parrot       26.0)]

In [48]:
groupby_list[0]

('Falcon',    Animal  Max Speed
 0  Falcon      380.0
 1  Falcon      370.0
 4  Falcon      340.0)

In [51]:
for i, item in enumerate(groupby_list[0]):
    print('i: {}'.format(i))
    print(item)
    print(type(item))

i: 0
Falcon
<class 'str'>
i: 1
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
4  Falcon      340.0
<class 'pandas.core.frame.DataFrame'>

In [73]:
print(type(dbu.get_trading_day()))
dbu.get_trading_day()

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

DatetimeIndex(['1990-12-19', '1990-12-20', '1990-12-21', '1990-12-24',
               '1990-12-25', '1990-12-26', '1990-12-27', '1990-12-28',
               '1990-12-31', '1991-01-02',
               ...
               '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-03-02', '2020-03-03'],
              dtype='datetime64[ns]', name='tradingDay', length=7143, freq=None)

In [49]:
?datetime.time()

In [61]:
rng1 = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
ts = pd.Series(range(len(rng1)), index=rng1)
ts['2016-07-02':'2016-07-09'].index

DatetimeIndex(['2016-07-02', '2016-07-03', '2016-07-04', '2016-07-05',
               '2016-07-06', '2016-07-07', '2016-07-08', '2016-07-09'],
              dtype='datetime64[ns]', freq='D')

In [43]:
import datetime
s = datetime.time('2016-07-02')
print(s)
type(s)

TypeError: an integer is required (got type str)

In [62]:
rng1

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [63]:
rng2 = pd.date_range('2016 Jul 1', periods = 9, freq = 'D')
rng2

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09'],
              dtype='datetime64[ns]', freq='D')

In [69]:
rng1.difference(rng1).empty

True

In [11]:
df = pd.DataFrame(columns=['date','symbol'])

In [15]:
df = df.append({'date':1,'symbol':'aaa'}, ignore_index=True)
df

  date symbol
0    1    aaa

In [21]:
d = dict()
try:
    dict['a'] 
except:
    print('except')

except

In [6]:
df = pd.DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
                  columns=['a', 'b'])
df

   a    b
0  1    1
1  2   10
2  3  100
3  4  100

In [7]:
from time import time
from time import sleep
import datetime

start = time()
sleep(10)
end = time()
print('start: ', start)
print('end: ', end)
print('type(end): ', type(end))
print('end-start: ', datetime.timedelta(seconds=end - start))

start:  1568252077.4690166
end:  1568252087.4792297
type(end):  <class 'float'>
end-start:  0:00:10.010213