In [59]:
from dqt import DBUtils, get_fut_min, get_fut_taq
import pandas as pd

In [178]:
dbu = DBUtils()

all_varieties = ['A', 'AG', 'AL', 'AU', 'AP', 'BU', 'B', 'C', 'CF', 'CJ', 'CS', 'CU', 'CY', 'EG', 'FG', 'HC', 'I', 'J',
                'JD', 'JM', 'L', 'M', 'MA', 'NI', 'NR', 'OI', 'P', 'PB', 'PP', 'RB', 'RM', 'RU', 'SC', 'SP', 'SR', 'T',
                'TA', 'TF', 'TS', 'UR', 'V', 'Y', 'ZC', 'ZN']



all_trading_days = dbu.get_trading_day()
first_trading_day = all_trading_days[0]
print('first_trading_day: {}'.format(first_trading_day))
tick_data_first_day = '2014-01-01'

first_trading_day: 1990-12-19 00:00:00

In [20]:
all_trading_days

DatetimeIndex(['1990-12-19', '1990-12-20', '1990-12-21', '1990-12-24',
               '1990-12-25', '1990-12-26', '1990-12-27', '1990-12-28',
               '1990-12-31', '1991-01-02',
               ...
               '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27',
               '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', name='tradingDay', length=7146, freq=None)

In [179]:
missing_trading_day_data_dict = dict()
for variety in all_varieties:#遍历所有品种
    print('variety: {}'.format(variety))
    main_daily_df = dbu.get_main_daily(variety=variety, start_date=tick_data_first_day)
    #print('main_daily_df: \n', main_daily_df)
    if main_daily_df.empty:
        missing_trading_day_data_dict[variety] = 'missing all data'
        continue
    #print('main_df: ', main_df)
    symbols_start_end_day_df = main_daily_df.groupby('symbol').agg({'date':['first', 'last']})
    print('symbols_start_end_day_df: \n', symbols_start_end_day_df)
    variety_first_last_day = symbols_start_end_day_df.agg({('date','first'):'min', ('date','last'):'max'})
    variety_first_day = variety_first_last_day[('date','first')]
    print('variety_first_day: ', variety_first_day)
    variety_last_day = variety_first_last_day[('date','last')]
    print('variety_last_day: {}'.format(variety_last_day))
    variety_all_trading_days = pd.Series(range(len(all_trading_days)), index = all_trading_days)[variety_first_day:variety_last_day].index
    
    #print('symbols_start_end_day_df: \n', symbols_start_end_day_df)
    #print('symbols_start_end_day_df.values: \n', symbols_start_end_day_df.values)
    #print('symbols_start_end_day_df.columns: \n', symbols_start_end_day_df.columns)
    #print('symbols_start_end_day_df.index: \n', symbols_start_end_day_df.index)
    variety_taq_days_list = list()
    
    for idx, row in symbols_start_end_day_df.iterrows():#遍历这个品种的所有合约
        """
        print('idx: ', idx)
        print('row: \n', row)
        print('type(row): ', type(row))
        print('row.index: ', row.index)
        print('row[date]: \n', row['date'])
        print('row[(date, first)]: \n', row[('date','first')])
        print('row.values: \n', row.values)
        """
        symbol_first_day = row[('date', 'first')].date()
        symbol_last_day = row[('date', 'last')].date()
        #print('symbol_first_day: ', symbol_first_day)
        #print('symbol_last_day: ', symbol_last_day)
        try:
            taq_df = get_fut_taq(row.name, start_date = symbol_first_day, end_date = symbol_last_day)
        except:
            print('{} missing TAQ data'.format(row.name))
            try:
                missing_trading_day_data_dict[variety].append('{} missing TAQ data, get_fut_taq function error'.format(row.name))
            except:
                missing_trading_day_data_dict[variety] = list()
                missing_trading_day_data_dict[variety].append('{} missing TAQ data, get_fut_taq function error'.format(row.name))
            continue
        symbol_taq_days_list = list(taq_df.groupby(taq_df.index).groups.keys())
        del taq_df
        #print('len(symbol_taq_days_list): ', len(symbol_taq_days_list))
        variety_taq_days_list += symbol_taq_days_list
        #print('len(variety_taq_days_list): ', len(variety_taq_days_list))

    #print('variety_taq_days_list: ', variety_taq_days_list)
    variety_taq_days_dtidx = pd.DatetimeIndex(variety_taq_days_list)
    del variety_taq_days_list
    #print('variety_taq_days_dtidx: ', variety_taq_days_dtidx)
    variety_trading_day_diff = variety_all_trading_days.difference(variety_taq_days_dtidx)
    if variety_trading_day_diff.empty:
        continue
    del variety_taq_days_dtidx
    #print('trading_day_diff: ', trading_day_diff)
    try:
        missing_trading_day_data_dict[variety].append(variety_trading_day_diff)
    except:
        missing_trading_day_data_dict[variety] = variety_trading_day_diff
    del variety_trading_day_diff
    
print('####finished checking all varieties####')

variety: A
symbols_start_end_day_df:
              date
            first       last
symbol
A1409  2014-01-02 2014-03-24
A1501  2014-03-25 2014-11-20
A1505  2014-11-21 2015-04-03
A1509  2015-04-07 2015-06-11
A1601  2015-06-12 2015-11-02
A1605  2015-11-03 2016-03-04
A1609  2016-03-07 2016-07-11
A1701  2016-07-12 2016-11-24
A1705  2016-11-25 2017-03-21
A1709  2017-03-22 2017-07-31
A1801  2017-08-01 2017-12-06
A1805  2017-12-07 2018-04-02
A1809  2018-04-03 2018-07-25
A1901  2018-07-26 2018-12-19
A1905  2018-12-20 2019-04-17
A1909  2019-04-18 2019-08-07
A2001  2019-08-08 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: AG
symbols_start_end_day_df:
              date
            first       last
symbol
AG1406 2014-01-02 2014-05-07
AG1412 2014-05-08 2014-11-03
AG1506 2014-11-04 2015-04-30
AG1512 2015-05-04 2015-11-13
AG1606 2015-11-16 2016-05-03
AG1612 2016-05-04 2016-11-09
AG1706 2016-11-10 2017-05-05
AG1712 2017-05-08 2017-11-17
AG1806 2017-11-20 2018-04-27
AG1812 2018-05-02 2018-10-30
AG1906 2018-10-31 2019-04-30
AG1912 2019-05-06 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: AL
symbols_start_end_day_df:
              date
            first       last
symbol
AL1404 2014-01-02 2014-02-19
AL1405 2014-02-20 2014-03-05
AL1406 2014-03-06 2014-04-21
AL1407 2014-04-22 2014-05-22
AL1408 2014-05-23 2014-06-23
AL1409 2014-06-24 2014-07-21
AL1410 2014-07-22 2014-08-22
AL1411 2014-08-25 2014-09-16
AL1412 2014-09-17 2014-10-21
AL1501 2014-10-22 2014-11-25
AL1502 2014-11-26 2014-12-12
AL1503 2014-12-15 2015-01-22
AL1504 2015-01-23 2015-02-25
AL1505 2015-02-26 2015-03-18
AL1506 2015-03-19 2015-04-20
AL1507 2015-04-21 2015-05-22
AL1508 2015-05-25 2015-06-23
AL1509 2015-06-24 2015-07-15
AL1510 2015-07-16 2015-08-24
AL1511 2015-08-25 2015-09-16
AL1512 2015-09-17 2015-10-20
AL1601 2015-10-21 2015-11-19
AL1602 2015-11-20 2015-12-14
AL1603 2015-12-15 2016-01-26
AL1604 2016-01-27 2016-02-24
AL1605 2016-02-25 2016-03-29
AL1606 2016-03-30 2016-04-25
AL1607 2016-04-26 2016-05-31
AL1608 2016-06-01 2016-06-29
AL1609 2016-06-30 2016-07-28
...           ...        ...
AL1705 2017-03-02 2017-04-10
AL1706 2017-04-11 2017-05-04
AL1707 2017-05-05 2017-06-05
AL1708 2017-06-06 2017-07-03
AL1709 2017-07-04 2017-08-01
AL1710 2017-08-02 2017-08-23
AL1711 2017-08-24 2017-09-22
AL1712 2017-09-25 2017-10-25
AL1801 2017-10-26 2017-11-29
AL1802 2017-11-30 2017-12-28
AL1803 2017-12-29 2018-01-31
AL1804 2018-02-01 2018-02-26
AL1805 2018-02-27 2018-04-02
AL1806 2018-04-03 2018-04-24
AL1807 2018-04-25 2018-06-05
AL1808 2018-06-06 2018-06-28
AL1809 2018-06-29 2018-08-02
AL1810 2018-08-03 2018-08-30
AL1811 2018-08-31 2018-10-08
AL1812 2018-10-09 2018-10-30
AL1901 2018-10-31 2018-11-30
AL1902 2018-12-03 2018-12-28
AL1903 2019-01-02 2019-02-15
AL1905 2019-02-18 2019-04-12
AL1906 2019-04-15 2019-05-13
AL1907 2019-05-14 2019-06-06
AL1908 2019-06-10 2019-07-12
AL1909 2019-07-15 2019-08-01
AL1910 2019-08-02 2019-09-06
AL1911 2019-09-09 2019-09-09

[67 rows x 2 columns]
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: AU
symbols_start_end_day_df:
              date
            first       last
symbol
AU1406 2014-01-02 2014-04-29
AU1412 2014-04-30 2014-10-31
AU1506 2014-11-03 2015-05-04
AU1512 2015-05-05 2015-11-09
AU1606 2015-11-10 2016-04-28
AU1612 2016-04-29 2016-11-04
AU1706 2016-11-07 2017-04-26
AU1712 2017-04-27 2017-11-08
AU1806 2017-11-09 2018-04-26
AU1812 2018-04-27 2018-11-05
AU1906 2018-11-06 2019-04-26
AU1912 2019-04-29 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: AP
symbols_start_end_day_df:
              date
            first       last
symbol
AP1805 2017-12-22 2018-04-09
AP1810 2018-04-10 2018-07-10
AP1901 2018-07-11 2018-11-06
AP1905 2018-11-07 2019-04-11
AP1910 2019-04-12 2019-09-09
variety_first_day:  2017-12-22 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: BU
symbols_start_end_day_df:
              date
            first       last
symbol
BU1506 2015-01-06 2015-05-29
BU1509 2015-06-01 2015-08-20
BU1512 2015-08-21 2015-11-23
BU1601 2015-11-24 2015-12-18
BU1606 2015-12-21 2016-04-07
BU1609 2016-04-08 2016-07-28
BU1612 2016-07-29 2016-11-08
BU1706 2016-11-09 2017-04-21
BU1709 2017-04-24 2017-07-28
BU1712 2017-07-31 2017-11-17
BU1806 2017-11-20 2018-04-26
BU1812 2018-04-27 2018-11-16
BU1906 2018-11-19 2019-04-25
BU1912 2019-04-26 2019-09-09
variety_first_day:  2015-01-06 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: B
symbols_start_end_day_df:
              date
            first       last
symbol
B1805  2017-11-13 2018-01-09
B1809  2018-01-10 2018-07-18
B1901  2018-07-19 2018-08-29
B1905  2018-08-30 2019-03-29
B1906  2019-04-01 2019-04-29
B1909  2019-04-30 2019-07-30
B1910  2019-07-31 2019-08-29
B1911  2019-08-30 2019-09-09
variety_first_day:  2017-11-13 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: C
symbols_start_end_day_df:
              date
            first       last
symbol
C1405  2014-01-02 2014-02-27
C1409  2014-02-28 2014-07-04
C1501  2014-07-07 2014-10-10
C1505  2014-10-13 2015-01-20
C1509  2015-01-21 2015-07-06
C1601  2015-07-07 2015-09-16
C1605  2015-09-17 2016-02-25
C1609  2016-02-26 2016-03-31
C1701  2016-04-01 2016-11-21
C1705  2016-11-22 2017-03-13
C1709  2017-03-14 2017-08-02
C1801  2017-08-03 2017-12-06
C1805  2017-12-07 2018-03-13
C1807  2018-03-14 2018-04-20
C1809  2018-04-23 2018-07-12
C1901  2018-07-13 2018-11-19
C1905  2018-11-20 2019-03-26
C1909  2019-03-27 2019-08-05
C2001  2019-08-06 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: CF
symbols_start_end_day_df:
              date
            first       last
symbol
CF1405 2014-01-02 2014-03-14
CF1409 2014-03-17 2014-03-26
CF1501 2014-03-27 2014-11-05
CF1505 2014-11-06 2015-03-18
CF1509 2015-03-19 2015-07-02
CF1601 2015-07-03 2015-10-28
CF1605 2015-10-29 2016-02-03
CF1609 2016-02-04 2016-06-28
CF1701 2016-06-29 2016-11-25
CF1705 2016-11-28 2017-03-30
CF1709 2017-03-31 2017-08-02
CF1801 2017-08-03 2017-11-27
CF1805 2017-11-28 2018-03-27
CF1809 2018-03-28 2018-05-22
CF1901 2018-05-23 2018-11-23
CF1905 2018-11-26 2019-04-04
CF1909 2019-04-08 2019-08-09
CF2001 2019-08-12 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: CJ
symbols_start_end_day_df:
              date
            first       last
symbol
CJ1912 2019-04-30 2019-09-09
variety_first_day:  2019-04-30 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: CS
symbols_start_end_day_df:
              date
            first       last
symbol
CS1505 2014-12-19 2015-03-31
CS1509 2015-04-01 2015-07-23
CS1601 2015-07-24 2015-10-26
CS1605 2015-10-27 2016-03-17
CS1609 2016-03-18 2016-06-24
CS1701 2016-06-27 2016-11-18
CS1705 2016-11-21 2017-03-20
CS1709 2017-03-21 2017-08-04
CS1801 2017-08-07 2017-11-29
CS1805 2017-11-30 2018-03-28
CS1809 2018-03-29 2018-08-03
CS1901 2018-08-06 2018-12-03
CS1905 2018-12-04 2019-04-11
CS1909 2019-04-12 2019-08-21
CS2001 2019-08-22 2019-09-09
variety_first_day:  2014-12-19 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: CU
symbols_start_end_day_df:
              date
            first       last
symbol
CU1403 2014-01-02 2014-01-10
CU1404 2014-01-13 2014-02-17
CU1405 2014-02-18 2014-03-10
CU1406 2014-03-11 2014-03-27
CU1407 2014-03-28 2014-05-07
CU1408 2014-05-08 2014-06-24
CU1409 2014-06-25 2014-07-29
CU1410 2014-07-30 2014-08-28
CU1411 2014-08-29 2014-09-19
CU1412 2014-09-22 2014-10-16
CU1501 2014-10-17 2014-11-21
CU1502 2014-11-24 2014-12-16
CU1503 2014-12-17 2015-01-21
CU1504 2015-01-22 2015-02-12
CU1505 2015-02-13 2015-03-19
CU1506 2015-03-20 2015-04-22
CU1507 2015-04-23 2015-05-22
CU1508 2015-05-25 2015-06-24
CU1509 2015-06-25 2015-07-21
CU1510 2015-07-22 2015-08-24
CU1511 2015-08-25 2015-09-22
CU1512 2015-09-23 2015-10-27
CU1601 2015-10-28 2015-11-23
CU1602 2015-11-24 2015-12-25
CU1603 2015-12-28 2016-01-27
CU1604 2016-01-28 2016-02-25
CU1605 2016-02-26 2016-03-23
CU1606 2016-03-24 2016-04-21
CU1607 2016-04-22 2016-05-24
CU1608 2016-05-25 2016-06-23
...           ...        ...
CU1706 2017-04-10 2017-05-04
CU1707 2017-05-05 2017-05-26
CU1708 2017-05-31 2017-06-28
CU1709 2017-06-29 2017-07-28
CU1710 2017-07-31 2017-09-01
CU1711 2017-09-04 2017-09-27
CU1712 2017-09-28 2017-11-02
CU1801 2017-11-03 2017-11-28
CU1802 2017-11-29 2017-12-25
CU1803 2017-12-26 2018-01-30
CU1804 2018-01-31 2018-02-26
CU1805 2018-02-27 2018-04-10
CU1806 2018-04-11 2018-04-27
CU1807 2018-05-02 2018-05-31
CU1808 2018-06-01 2018-07-04
CU1809 2018-07-05 2018-08-06
CU1810 2018-08-07 2018-08-30
CU1811 2018-08-31 2018-10-17
CU1812 2018-10-18 2018-10-31
CU1901 2018-11-01 2018-11-27
CU1902 2018-11-28 2018-12-27
CU1903 2018-12-28 2019-02-12
CU1904 2019-02-13 2019-03-01
CU1905 2019-03-04 2019-04-08
CU1906 2019-04-09 2019-05-08
CU1907 2019-05-09 2019-06-05
CU1908 2019-06-06 2019-07-02
CU1909 2019-07-03 2019-08-02
CU1910 2019-08-05 2019-08-30
CU1911 2019-09-02 2019-09-09

[69 rows x 2 columns]
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00

variety: CY
variety: EG
symbols_start_end_day_df:
              date
            first       last
symbol
EG1906 2018-12-10 2019-04-26
EG1909 2019-04-29 2019-07-31
EG2001 2019-08-01 2019-09-09
variety_first_day:  2018-12-10 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: FG
symbols_start_end_day_df:
              date
            first       last
symbol
FG1405 2014-01-02 2014-03-14
FG1409 2014-03-17 2014-07-08
FG1501 2014-07-09 2014-11-12
FG1506 2014-11-13 2015-04-02
FG1509 2015-04-03 2015-08-06
FG1601 2015-08-07 2015-11-25
FG1605 2015-11-26 2016-04-05
FG1609 2016-04-06 2016-08-10
FG1701 2016-08-11 2016-11-30
FG1705 2016-12-01 2017-04-07
FG1709 2017-04-10 2017-08-08
FG1801 2017-08-09 2017-11-24
FG1805 2017-11-27 2018-04-03
FG1809 2018-04-04 2018-08-06
FG1901 2018-08-07 2018-12-10
FG1905 2018-12-11 2019-04-09
FG1909 2019-04-10 2019-08-06
FG2001 2019-08-07 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: HC
symbols_start_end_day_df:
              date
            first       last
symbol
HC1410 2014-03-21 2014-08-27
HC1501 2014-08-28 2014-12-09
HC1505 2014-12-10 2015-04-02
HC1510 2015-04-03 2015-07-24
HC1601 2015-07-27 2015-11-25
HC1605 2015-11-26 2016-04-11
HC1610 2016-04-12 2016-08-29
HC1701 2016-08-30 2016-11-24
HC1705 2016-11-25 2017-03-24
HC1710 2017-03-27 2017-08-07
HC1801 2017-08-08 2017-11-22
HC1805 2017-11-23 2018-04-02
HC1810 2018-04-03 2018-08-16
HC1901 2018-08-17 2018-11-26
HC1905 2018-11-27 2019-04-03
HC1910 2019-04-04 2019-08-22
HC2001 2019-08-23 2019-09-09
variety_first_day:  2014-03-21 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: I
symbols_start_end_day_df:
              date
            first       last
symbol
I1405  2014-01-02 2014-02-24
I1409  2014-02-25 2014-07-21
I1501  2014-07-22 2014-10-15
I1505  2014-10-16 2015-03-05
I1509  2015-03-06 2015-07-16
I1601  2015-07-17 2015-11-18
I1605  2015-11-19 2016-03-17
I1609  2016-03-18 2016-08-09
I1701  2016-08-10 2016-11-23
I1705  2016-11-24 2017-03-20
I1709  2017-03-21 2017-07-28
I1801  2017-07-31 2017-11-21
I1805  2017-11-22 2018-03-30
I1809  2018-04-02 2018-08-03
I1901  2018-08-06 2018-11-27
I1905  2018-11-28 2019-04-02
I1909  2019-04-03 2019-07-29
I2001  2019-07-30 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: J
symbols_start_end_day_df:
              date
            first       last
symbol
J1405  2014-01-02 2014-03-06
J1409  2014-03-07 2014-07-17
J1501  2014-07-18 2014-11-20
J1505  2014-11-21 2015-03-26
J1509  2015-03-27 2015-08-07
J1601  2015-08-10 2015-11-20
J1605  2015-11-23 2016-03-23
J1609  2016-03-24 2016-08-11
J1701  2016-08-12 2016-11-28
J1705  2016-11-29 2017-03-29
J1709  2017-03-30 2017-08-01
J1801  2017-08-02 2017-11-24
J1805  2017-11-27 2018-04-04
J1809  2018-04-09 2018-08-06
J1901  2018-08-07 2018-12-04
J1905  2018-12-05 2019-04-02
J1909  2019-04-03 2019-08-02
J2001  2019-08-05 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: JD
symbols_start_end_day_df:
              date
            first       last
symbol
JD1405 2014-01-02 2014-03-05
JD1409 2014-03-06 2014-07-23
JD1501 2014-07-24 2014-11-26
JD1505 2014-11-27 2015-03-20
JD1509 2015-03-23 2015-07-30
JD1601 2015-07-31 2015-11-20
JD1605 2015-11-23 2016-03-21
JD1609 2016-03-22 2016-07-27
JD1701 2016-07-28 2016-11-24
JD1705 2016-11-25 2017-04-07
JD1709 2017-04-10 2017-07-28
JD1801 2017-07-31 2017-11-28
JD1805 2017-11-29 2018-03-30
JD1809 2018-04-02 2018-08-01
JD1901 2018-08-02 2018-12-04
JD1905 2018-12-05 2019-04-01
JD1909 2019-04-02 2019-08-01
JD2001 2019-08-02 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: JM
symbols_start_end_day_df:
              date
            first       last
symbol
JM1405 2014-01-02 2014-03-11
JM1409 2014-03-12 2014-07-18
JM1501 2014-07-21 2014-11-14
JM1505 2014-11-17 2015-03-27
JM1509 2015-03-30 2015-08-06
JM1601 2015-08-07 2015-11-18
JM1605 2015-11-19 2016-03-29
JM1609 2016-03-30 2016-08-11
JM1701 2016-08-12 2016-11-24
JM1705 2016-11-25 2017-03-29
JM1709 2017-03-30 2017-08-02
JM1801 2017-08-03 2017-11-28
JM1805 2017-11-29 2018-04-09
JM1809 2018-04-10 2018-08-06
JM1901 2018-08-07 2018-12-07
JM1905 2018-12-10 2019-04-04
JM1909 2019-04-08 2019-08-14
JM2001 2019-08-15 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: L
symbols_start_end_day_df:
              date
            first       last
symbol
L1405  2014-01-02 2014-03-05
L1409  2014-03-06 2014-07-16
L1501  2014-07-17 2014-11-21
L1505  2014-11-24 2015-03-13
L1509  2015-03-16 2015-07-30
L1601  2015-07-31 2015-11-24
L1605  2015-11-25 2016-03-23
L1609  2016-03-24 2016-07-19
L1701  2016-07-20 2016-11-24
L1705  2016-11-25 2017-04-05
L1709  2017-04-06 2017-07-24
L1801  2017-07-25 2017-11-24
L1805  2017-11-27 2018-03-30
L1809  2018-04-02 2018-07-26
L1901  2018-07-27 2018-11-14
L1905  2018-11-15 2019-03-27
L1909  2019-03-28 2019-07-30
L2001  2019-07-31 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: M
symbols_start_end_day_df:
              date
            first       last
symbol
M1405  2014-01-02 2014-02-25
M1409  2014-02-26 2014-07-10
M1501  2014-07-11 2014-10-20
M1505  2014-10-21 2015-02-26
M1509  2015-02-27 2015-07-23
M1601  2015-07-24 2015-11-24
M1605  2015-11-25 2016-03-11
M1609  2016-03-14 2016-08-02
M1701  2016-08-03 2016-11-23
M1705  2016-11-24 2017-03-20
M1709  2017-03-21 2017-07-31
M1801  2017-08-01 2017-11-24
M1805  2017-11-27 2018-03-20
M1809  2018-03-21 2018-07-23
M1901  2018-07-24 2018-12-06
M1905  2018-12-07 2019-04-03
M1909  2019-04-04 2019-08-08
M2001  2019-08-09 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: MA
symbols_start_end_day_df:
              date
            first       last
symbol
MA1506 2014-06-17 2015-04-13
MA1509 2015-04-14 2015-07-23
MA1601 2015-07-24 2015-11-25
MA1605 2015-11-26 2016-04-06
MA1609 2016-04-07 2016-08-05
MA1701 2016-08-08 2016-11-30
MA1705 2016-12-01 2017-03-31
MA1709 2017-04-05 2017-08-02
MA1801 2017-08-03 2017-12-06
MA1805 2017-12-07 2018-04-09
MA1809 2018-04-10 2018-08-06
MA1901 2018-08-07 2018-12-10
MA1905 2018-12-11 2019-04-09
MA1909 2019-04-10 2019-08-14
MA2001 2019-08-15 2019-09-09
variety_first_day:  2014-06-17 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: NI
symbols_start_end_day_df:
              date
            first       last
symbol
NI1507 2015-03-27 2015-05-26
NI1509 2015-05-27 2015-08-11
NI1601 2015-08-12 2015-12-09
NI1605 2015-12-10 2016-04-06
NI1609 2016-04-07 2016-07-27
NI1701 2016-07-28 2016-11-23
NI1705 2016-11-24 2017-03-29
NI1709 2017-03-30 2017-07-31
NI1801 2017-08-01 2017-11-09
NI1805 2017-11-10 2018-03-23
NI1807 2018-03-26 2018-05-31
NI1809 2018-06-01 2018-08-01
NI1811 2018-08-02 2018-10-08
NI1901 2018-10-09 2018-12-04
NI1905 2018-12-05 2019-04-04
NI1906 2019-04-08 2019-04-29
NI1907 2019-04-30 2019-05-31
NI1908 2019-06-03 2019-07-03
NI1910 2019-07-04 2019-08-27
NI1911 2019-08-28 2019-09-09
variety_first_day:  2015-03-27 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: NR
symbols_start_end_day_df:
              date
            first       last
symbol
NR2002 2019-08-12 2019-09-06
variety_first_day:  2019-08-12 00:00:00
variety_last_day: 2019-09-06 00:00:00
NR2002 missing TAQ data
variety: OI
symbols_start_end_day_df:
              date
            first       last
symbol
OI1405 2014-01-02 2014-02-07
OI1409 2014-02-10 2014-06-11
OI1501 2014-06-12 2014-11-14
OI1505 2014-11-17 2015-03-11
OI1509 2015-03-12 2015-06-10
OI1601 2015-06-11 2015-11-09
OI1605 2015-11-10 2016-03-10
OI1609 2016-03-11 2016-07-12
OI1701 2016-07-13 2016-11-24
OI1705 2016-11-25 2017-03-23
OI1709 2017-03-24 2017-08-01
OI1801 2017-08-02 2017-11-24
OI1805 2017-11-27 2018-03-28
OI1809 2018-03-29 2018-07-30
OI1901 2018-07-31 2018-12-05
OI1905 2018-12-06 2019-04-10
OI1909 2019-04-11 2019-08-05
OI2001 2019-08-06 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00

variety: P
symbols_start_end_day_df:
              date
            first       last
symbol
P1405  2014-01-02 2014-02-26
P1409  2014-02-27 2014-06-17
P1501  2014-06-18 2014-11-06
P1505  2014-11-07 2015-03-06
P1509  2015-03-09 2015-06-05
P1601  2015-06-08 2015-11-26
P1605  2015-11-27 2016-03-14
P1609  2016-03-15 2016-07-19
P1701  2016-07-20 2016-11-25
P1705  2016-11-28 2017-03-20
P1709  2017-03-21 2017-07-24
P1801  2017-07-25 2017-11-24
P1805  2017-11-27 2018-03-26
P1809  2018-03-27 2018-07-26
P1901  2018-07-27 2018-12-04
P1905  2018-12-05 2019-04-10
P1909  2019-04-11 2019-08-08
P2001  2019-08-09 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: PB
symbols_start_end_day_df:
              date
            first       last
symbol
PB1402 2014-01-02 2014-01-21
PB1403 2014-01-22 2014-02-13
PB1404 2014-02-14 2014-03-17
PB1405 2014-03-18 2014-04-25
PB1406 2014-04-28 2014-05-19
PB1407 2014-05-20 2014-05-30
PB1408 2014-06-03 2014-07-22
PB1410 2014-07-23 2014-09-09
PB1411 2014-09-10 2014-10-15
PB1412 2014-10-16 2014-10-24
PB1501 2014-10-27 2014-12-10
PB1502 2014-12-11 2014-12-29
PB1503 2014-12-30 2015-01-27
PB1504 2015-01-28 2015-03-02
PB1505 2015-03-03 2015-03-27
PB1506 2015-03-30 2015-04-30
PB1507 2015-05-04 2015-05-29
PB1508 2015-06-01 2015-07-06
PB1509 2015-07-07 2015-07-16
PB1510 2015-07-17 2015-08-31
PB1511 2015-09-01 2015-09-30
PB1512 2015-10-08 2015-11-05
PB1601 2015-11-06 2015-11-30
PB1602 2015-12-01 2016-01-07
PB1603 2016-01-08 2016-02-15
PB1604 2016-02-16 2016-03-03
PB1605 2016-03-04 2016-04-12
PB1606 2016-04-13 2016-05-05
PB1607 2016-05-06 2016-06-08
PB1608 2016-06-13 2016-07-05
...           ...        ...
PB1705 2017-03-15 2017-04-12
PB1706 2017-04-13 2017-05-18
PB1707 2017-05-19 2017-06-19
PB1708 2017-06-20 2017-07-18
PB1709 2017-07-19 2017-08-11
PB1710 2017-08-14 2017-09-13
PB1711 2017-09-14 2017-10-18
PB1712 2017-10-19 2017-11-10
PB1801 2017-11-13 2017-12-15
PB1802 2017-12-18 2018-01-15
PB1803 2018-01-16 2018-02-08
PB1804 2018-02-09 2018-03-08
PB1805 2018-03-09 2018-04-12
PB1806 2018-04-13 2018-05-18
PB1807 2018-05-21 2018-06-21
PB1808 2018-06-22 2018-07-18
PB1809 2018-07-19 2018-08-15
PB1810 2018-08-16 2018-09-14
PB1811 2018-09-17 2018-10-18
PB1812 2018-10-19 2018-11-12
PB1901 2018-11-13 2018-12-17
PB1902 2018-12-18 2019-01-17
PB1903 2019-01-18 2019-02-18
PB1904 2019-02-19 2019-03-15
PB1905 2019-03-18 2019-04-12
PB1906 2019-04-15 2019-05-17
PB1907 2019-05-20 2019-06-18
PB1908 2019-06-19 2019-07-11
PB1909 2019-07-12 2019-08-19
PB1910 2019-08-20 2019-09-09

[68 rows x 2 columns]
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: PP
symbols_start_end_day_df:
              date
            first       last
symbol
PP1405 2014-02-28 2014-02-28
PP1409 2014-03-03 2014-07-17
PP1501 2014-07-18 2014-11-20
PP1505 2014-11-21 2015-03-12
PP1509 2015-03-13 2015-07-29
PP1601 2015-07-30 2015-11-20
PP1605 2015-11-23 2016-03-23
PP1609 2016-03-24 2016-08-08
PP1701 2016-08-09 2016-11-28
PP1705 2016-11-29 2017-04-06
PP1709 2017-04-07 2017-08-04
PP1801 2017-08-07 2017-11-28
PP1805 2017-11-29 2018-04-02
PP1809 2018-04-03 2018-08-03
PP1901 2018-08-06 2018-11-30
PP1905 2018-12-03 2019-04-02
PP1909 2019-04-03 2019-07-30
PP2001 2019-07-31 2019-09-09
variety_first_day:  2014-02-28 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: RB
symbols_start_end_day_df:
              date
            first       last
symbol
RB1405 2014-01-02 2014-02-27
RB1410 2014-02-28 2014-07-01
RB1501 2014-07-02 2014-10-15
RB1505 2014-10-16 2015-03-04
RB1510 2015-03-05 2015-07-15
RB1601 2015-07-16 2015-10-30
RB1605 2015-11-02 2016-03-04
RB1610 2016-03-07 2016-08-16
RB1701 2016-08-17 2016-11-24
RB1705 2016-11-25 2017-03-20
RB1710 2017-03-21 2017-08-02
RB1801 2017-08-03 2017-11-06
RB1805 2017-11-07 2018-03-23
RB1810 2018-03-26 2018-08-14
RB1901 2018-08-15 2018-11-23
RB1905 2018-11-26 2019-03-27
RB1910 2019-03-28 2019-08-20
RB2001 2019-08-21 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: RM
symbols_start_end_day_df:
              date
            first       last
symbol
RM1405 2014-01-02 2014-01-21
RM1409 2014-01-22 2014-07-21
RM1501 2014-07-22 2014-10-30
RM1505 2014-10-31 2015-02-26
RM1509 2015-02-27 2015-07-10
RM1601 2015-07-13 2015-11-26
RM1605 2015-11-27 2016-03-09
RM1609 2016-03-10 2016-08-03
RM1701 2016-08-04 2016-11-23
RM1705 2016-11-24 2017-03-14
RM1709 2017-03-15 2017-07-27
RM1801 2017-07-28 2017-12-01
RM1805 2017-12-04 2018-03-22
RM1809 2018-03-23 2018-07-23
RM1901 2018-07-24 2018-11-23
RM1905 2018-11-26 2019-03-27
RM1909 2019-03-28 2019-08-05
RM2001 2019-08-06 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: RU
symbols_start_end_day_df:
              date
            first       last
symbol
RU1405 2014-01-02 2014-02-25
RU1409 2014-02-26 2014-07-21
RU1501 2014-07-22 2014-11-18
RU1505 2014-11-19 2015-02-16
RU1509 2015-02-17 2015-07-13
RU1601 2015-07-14 2015-11-20
RU1605 2015-11-23 2016-03-11
RU1609 2016-03-14 2016-07-29
RU1701 2016-08-01 2016-11-14
RU1705 2016-11-15 2017-03-21
RU1709 2017-03-22 2017-07-28
RU1801 2017-07-31 2017-11-23
RU1805 2017-11-24 2018-03-26
RU1809 2018-03-27 2018-08-06
RU1901 2018-08-07 2018-11-28
RU1905 2018-11-29 2019-03-18
RU1909 2019-03-19 2019-08-05
RU2001 2019-08-06 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: SC
symbols_start_end_day_df:
              date
            first       last
symbol
SC1809 2018-03-26 2018-08-07
SC1812 2018-08-08 2018-11-14
SC1901 2018-11-15 2018-12-13
SC1903 2018-12-14 2019-02-14
SC1904 2019-02-15 2019-03-14
SC1905 2019-03-15 2019-04-12
SC1906 2019-04-15 2019-05-16
SC1907 2019-05-17 2019-06-13
SC1908 2019-06-14 2019-07-11
SC1909 2019-07-12 2019-08-09
SC1910 2019-08-12 2019-09-05
SC1911 2019-09-06 2019-09-06
variety_first_day:  2018-03-26 00:00:00
variety_last_day: 2019-09-06 00:00:00
SC1809 missing TAQ data
SC1812 missing TAQ data
SC1901 missing TAQ data
SC1903 missing TAQ data
SC1904 missing TAQ data
SC1905 missing TAQ data
SC1906 missing TAQ data
SC1907 missing TAQ data
SC1908 missing TAQ data
SC1909 missing TAQ data
SC1910 missing TAQ data
SC1911 missing TAQ data
variety: SP
symbols_start_end_day_df:
              date
            first       last
symbol
SP1906 2018-11-27 2019-04-29
SP1909 2019-04-30 2019-08-07
SP2001 2019-08-08 2019-09-09
variety_first_day:  2018-11-27 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: SR
symbols_start_end_day_df:
              date
            first       last
symbol
SR1405 2014-01-02 2014-02-19
SR1409 2014-02-20 2014-06-12
SR1501 2014-06-13 2014-11-04
SR1505 2014-11-05 2015-02-12
SR1509 2015-02-13 2015-06-17
SR1601 2015-06-18 2015-11-13
SR1605 2015-11-16 2016-02-26
SR1609 2016-02-29 2016-07-18
SR1701 2016-07-19 2016-12-01
SR1705 2016-12-02 2017-03-29
SR1709 2017-03-30 2017-07-13
SR1801 2017-07-14 2017-12-12
SR1805 2017-12-13 2018-03-27
SR1809 2018-03-28 2018-07-26
SR1901 2018-07-27 2018-11-07
SR1905 2018-11-08 2019-03-15
SR1909 2019-03-18 2019-07-24
SR2001 2019-07-25 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: T
symbols_start_end_day_df:
              date
            first       last
symbol
T1509  2015-03-20 2015-08-10
T1512  2015-08-11 2015-11-10
T1603  2015-11-11 2016-02-01
T1606  2016-02-02 2016-04-28
T1609  2016-04-29 2016-08-04
T1612  2016-08-05 2016-11-04
T1703  2016-11-07 2017-01-16
T1706  2017-01-17 2017-05-04
T1709  2017-05-05 2017-08-03
T1712  2017-08-04 2017-11-06
T1803  2017-11-07 2018-02-02
T1806  2018-02-05 2018-05-14
T1809  2018-05-15 2018-08-09
T1812  2018-08-10 2018-11-09
T1903  2018-11-12 2019-02-18
T1906  2019-02-19 2019-05-15
T1909  2019-05-16 2019-08-12
T1912  2019-08-13 2019-09-09
variety_first_day:  2015-03-20 00:00:00
variety_last_day: 2019-09-09 00:00:00

variety: TA
symbols_start_end_day_df:
              date
            first       last
symbol
TA1405 2014-01-02 2014-03-07
TA1409 2014-03-10 2014-08-04
TA1501 2014-08-05 2014-11-17
TA1505 2014-11-18 2015-03-27
TA1509 2015-03-30 2015-08-03
TA1601 2015-08-04 2015-11-20
TA1605 2015-11-23 2016-03-25
TA1609 2016-03-28 2016-08-02
TA1701 2016-08-03 2016-11-11
TA1705 2016-11-14 2017-04-05
TA1709 2017-04-06 2017-08-01
TA1801 2017-08-02 2017-11-21
TA1805 2017-11-22 2018-03-22
TA1809 2018-03-23 2018-08-02
TA1901 2018-08-03 2018-11-27
TA1905 2018-11-28 2019-04-03
TA1909 2019-04-04 2019-08-12
TA2001 2019-08-13 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: TF
symbols_start_end_day_df:
              date
            first       last
symbol
TF1403 2014-01-02 2014-02-18
TF1406 2014-02-19 2014-05-13
TF1409 2014-05-14 2014-08-12
TF1412 2014-08-13 2014-10-31
TF1503 2014-11-03 2015-02-02
TF1506 2015-02-03 2015-05-12
TF1509 2015-05-13 2015-08-13
TF1512 2015-08-14 2015-11-16
TF1603 2015-11-17 2016-02-02
TF1606 2016-02-03 2016-04-25
TF1609 2016-04-26 2016-08-08
TF1612 2016-08-09 2016-11-07
TF1703 2016-11-08 2017-01-18
TF1706 2017-01-19 2017-05-09
TF1709 2017-05-10 2017-08-07
TF1712 2017-08-08 2017-11-07
TF1803 2017-11-08 2018-02-08
TF1806 2018-02-09 2018-05-11
TF1809 2018-05-14 2018-08-09
TF1812 2018-08-10 2018-11-14
TF1903 2018-11-15 2019-02-15
TF1906 2019-02-18 2019-05-16
TF1909 2019-05-17 2019-08-09
TF1912 2019-08-12 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: TS
symbols_start_end_day_df:
              date
            first       last
symbol
TS1812 2018-08-17 2018-11-28
TS1903 2018-11-29 2019-02-22
TS1906 2019-02-25 2019-05-22
TS1909 2019-05-23 2019-08-14
TS1912 2019-08-15 2019-09-09
variety_first_day:  2018-08-17 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: UR
symbols_start_end_day_df:
              date
            first       last
symbol
UR2001 2019-08-09 2019-09-09
variety_first_day:  2019-08-09 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: V
symbols_start_end_day_df:
              date
            first       last
symbol
V1405  2014-01-02 2014-03-25
V1409  2014-03-26 2014-07-28
V1501  2014-07-29 2014-10-28
V1505  2014-10-29 2015-03-25
V1509  2015-03-26 2015-08-10
V1601  2015-08-11 2015-10-15
V1605  2015-10-16 2016-03-22
V1609  2016-03-23 2016-08-16
V1701  2016-08-17 2016-11-24
V1705  2016-11-25 2017-03-31
V1709  2017-04-05 2017-08-04
V1801  2017-08-07 2017-11-24
V1805  2017-11-27 2018-03-30
V1809  2018-04-02 2018-08-06
V1901  2018-08-07 2018-11-22
V1905  2018-11-23 2019-03-21
V1909  2019-03-22 2019-08-09
V2001  2019-08-12 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: Y
symbols_start_end_day_df:
              date
            first       last
symbol
Y1405  2014-01-02 2014-02-24
Y1409  2014-02-25 2014-06-13
Y1501  2014-06-16 2014-11-04
Y1505  2014-11-05 2015-03-03
Y1509  2015-03-04 2015-06-15
Y1601  2015-06-16 2015-11-24
Y1605  2015-11-25 2016-03-10
Y1609  2016-03-11 2016-07-15
Y1701  2016-07-18 2016-11-23
Y1705  2016-11-24 2017-03-20
Y1709  2017-03-21 2017-07-28
Y1801  2017-07-31 2017-11-29
Y1805  2017-11-30 2018-03-23
Y1809  2018-03-26 2018-07-26
Y1901  2018-07-27 2018-12-04
Y1905  2018-12-05 2019-04-03
Y1909  2019-04-04 2019-08-02
Y2001  2019-08-05 2019-09-09
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: ZC
symbols_start_end_day_df:
              date
            first       last
symbol
ZC1605 2016-01-04 2016-04-05
ZC1609 2016-04-06 2016-08-12
ZC1701 2016-08-15 2016-12-01
ZC1705 2016-12-02 2017-04-17
ZC1709 2017-04-18 2017-08-08
ZC1801 2017-08-09 2017-12-15
ZC1805 2017-12-18 2018-04-10
ZC1809 2018-04-11 2018-08-07
ZC1901 2018-08-08 2018-12-04
ZC1905 2018-12-05 2019-04-16
ZC1909 2019-04-17 2019-08-15
ZC1911 2019-08-16 2019-09-03
ZC2001 2019-09-04 2019-09-09
variety_first_day:  2016-01-04 00:00:00
variety_last_day: 2019-09-09 00:00:00
variety: ZN
symbols_start_end_day_df:
              date
            first       last
symbol
ZN1403 2014-01-02 2014-01-13
ZN1404 2014-01-14 2014-02-18
ZN1405 2014-02-19 2014-03-14
ZN1406 2014-03-17 2014-04-15
ZN1407 2014-04-16 2014-05-23
ZN1408 2014-05-26 2014-06-19
ZN1409 2014-06-20 2014-07-18
ZN1410 2014-07-21 2014-08-22
ZN1411 2014-08-25 2014-09-19
ZN1412 2014-09-22 2014-10-24
ZN1501 2014-10-27 2014-11-26
ZN1502 2014-11-27 2014-12-22
ZN1503 2014-12-23 2015-01-23
ZN1504 2015-01-26 2015-02-16
ZN1505 2015-02-17 2015-03-20
ZN1506 2015-03-23 2015-04-20
ZN1507 2015-04-21 2015-05-19
ZN1508 2015-05-20 2015-06-23
ZN1509 2015-06-24 2015-07-23
ZN1510 2015-07-24 2015-08-26
ZN1511 2015-08-27 2015-09-23
ZN1512 2015-09-24 2015-10-28
ZN1601 2015-10-29 2015-11-23
ZN1602 2015-11-24 2015-12-25
ZN1603 2015-12-28 2016-01-28
ZN1604 2016-01-29 2016-02-26
ZN1605 2016-02-29 2016-03-25
ZN1606 2016-03-28 2016-04-26
ZN1607 2016-04-27 2016-05-27
ZN1608 2016-05-30 2016-06-27
...           ...        ...
ZN1706 2017-04-05 2017-05-02
ZN1707 2017-05-03 2017-05-31
ZN1708 2017-06-01 2017-06-30
ZN1709 2017-07-03 2017-07-31
ZN1710 2017-08-01 2017-09-01
ZN1711 2017-09-04 2017-09-29
ZN1712 2017-10-09 2017-10-31
ZN1801 2017-11-01 2017-11-30
ZN1802 2017-12-01 2017-12-29
ZN1803 2018-01-02 2018-02-01
ZN1804 2018-02-02 2018-02-27
ZN1805 2018-02-28 2018-03-29
ZN1806 2018-03-30 2018-04-26
ZN1807 2018-04-27 2018-06-04
ZN1808 2018-06-05 2018-07-04
ZN1809 2018-07-05 2018-08-01
ZN1810 2018-08-02 2018-09-03
ZN1811 2018-09-04 2018-10-16
ZN1812 2018-10-17 2018-10-30
ZN1901 2018-10-31 2018-11-28
ZN1902 2018-11-29 2018-12-28
ZN1903 2019-01-02 2019-02-12
ZN1904 2019-02-13 2019-03-04
ZN1905 2019-03-05 2019-04-08
ZN1906 2019-04-09 2019-05-06
ZN1907 2019-05-07 2019-06-03
ZN1908 2019-06-04 2019-07-01
ZN1909 2019-07-02 2019-08-05
ZN1910 2019-08-06 2019-09-02
ZN1911 2019-09-03 2019-09-09

[69 rows x 2 columns]
variety_first_day:  2014-01-02 00:00:00
variety_last_day: 2019-09-09 00:00:00
####finished checking all varieties####

In [180]:
missing_trading_day_data_dict

{'CY': 'missing all data',
 'NR': ['NR2002 missing TAQ data, get_fut_taq function error',
  DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                 '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21',
                 '2019-08-22', '2019-08-23', '2019-08-26', '2019-08-27',
                 '2019-08-28', '2019-08-29', '2019-08-30', '2019-09-02',
                 '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06'],
                dtype='datetime64[ns]', freq=None)],
 'SC': ['SC1809 missing TAQ data, get_fut_taq function error',
  'SC1812 missing TAQ data, get_fut_taq function error',
  'SC1901 missing TAQ data, get_fut_taq function error',
  'SC1903 missing TAQ data, get_fut_taq function error',
  'SC1904 missing TAQ data, get_fut_taq function error',
  'SC1905 missing TAQ data, get_fut_taq function error',
  'SC1906 missing TAQ data, get_fut_taq function error',
  'SC1907 missing TAQ data, get_fut_taq function error',
  'SC1908 missing TAQ data, get_fut_taq function error',
  'SC1909 missing TAQ data, get_fut_taq function error',
  'SC1910 missing TAQ data, get_fut_taq function error',
  'SC1911 missing TAQ data, get_fut_taq function error',
  DatetimeIndex(['2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
                 '2018-03-30', '2018-04-02', '2018-04-03', '2018-04-04',
                 '2018-04-09', '2018-04-10',
                 ...
                 '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29',
                 '2019-08-30', '2019-09-02', '2019-09-03', '2019-09-04',
                 '2019-09-05', '2019-09-06'],
                dtype='datetime64[ns]', length=357, freq=None)],
 'T': DatetimeIndex(['2019-09-02', '2019-09-04'], dtype='datetime64[ns]', freq=None),
 'TF': DatetimeIndex(['2014-01-02', '2019-09-02', '2019-09-04'], dtype='datetime64[ns]', freq=None),
 'TS': DatetimeIndex(['2019-09-02', '2019-09-04'], dtype='datetime64[ns]', freq=None)}

In [ ]:
missing_trading_day_data_dict

In [174]:
main_daily_df = dbu.get_main_daily(variety='TF', start_date='2019-09-02')
main_daily_df

,adj_factor,date,symbol,open,high,low,close,volume,open_interest,turnover,...,settle_ret,amplitude,left_days,interday_ret,high_ret,low_ret,open_ret,intraday_ret,trade_symbol,projected_value
0,0.982766,2019-09-02,TF1912,100.010,100.050,99.915,99.925,9653.0,26352.0,964952.690,...,-0.00075,0.001,102,0.000100,-0.000699,-0.000350,-0.000999,-0.000850,TF1912,27037.460082
1,0.982766,2019-09-03,TF1912,99.900,99.975,99.885,99.885,5860.0,26586.0,585589.685,...,-0.00050,0.001,101,-0.000250,-0.000750,-0.000300,-0.001100,-0.000150,TF1912,27120.196159
2,0.982766,2019-09-04,TF1912,99.870,100.000,99.870,99.985,9707.0,27443.0,970242.950,...,0.00080,0.001,100,-0.000150,0.000250,-0.000150,-0.000300,0.001151,TF1912,28085.167293
3,0.982766,2019-09-05,TF1912,100.160,100.185,100.085,100.130,9459.0,28023.0,947235.105,...,0.00165,0.001,99,0.001750,0.001850,0.002153,0.002904,-0.000300,TF1912,28644.397431
4,0.982766,2019-09-06,TF1912,100.145,100.275,100.100,100.195,11475.0,29381.0,1149811.850,...,0.00065,0.002,98,0.000150,0.000898,0.000150,-0.000150,0.000499,TF1912,30248.306001
5,0.982766,2019-09-09,TF1912,100.275,100.275,100.110,100.135,8227.0,29710.0,823904.555,...,-0.00075,0.002,95,0.000798,0.000000,0.000100,0.001298,-0.001396,TF1912,30397.688363

In [177]:
get_fut_taq('TF1912', start_date='2019-09-04', end_date='2019-09-05')

,datetime,last,volume,turnover,oi,a1,a1v,b1,b1v,symbol
trading_date,,,,,,,,,,
2019-09-05,2019-09-05 09:14:00.200,100.160,7,7011200,27446,100.230,1,100.160,8,TF1912
2019-09-05,2019-09-05 09:15:00.200,100.160,7,7011200,27446,100.220,8,100.180,10,TF1912
2019-09-05,2019-09-05 09:15:00.700,100.180,23,23039700,27460,100.185,3,100.170,4,TF1912
2019-09-05,2019-09-05 09:15:01.200,100.165,36,36061900,27468,100.165,2,100.150,3,TF1912
2019-09-05,2019-09-05 09:15:01.700,100.160,91,91149950,27499,100.140,1,100.100,32,TF1912
2019-09-05,2019-09-05 09:15:02.200,100.140,124,124200400,27502,100.150,5,100.130,3,TF1912
2019-09-05,2019-09-05 09:15:02.700,100.120,133,133211750,27503,100.135,10,100.130,1,TF1912
2019-09-05,2019-09-05 09:15:03.200,100.140,135,135214550,27501,100.140,3,100.135,3,TF1912
2019-09-05,2019-09-05 09:15:03.700,100.145,141,141223000,27496,100.145,1,100.140,48,TF1912
2019-09-05,2019-09-05 09:15:04.200,100.135,151,151236700,27502,100.130,1,100.115,4,TF1912
2019-09-05,2019-09-05 09:15:04.700,100.120,153,153239100,27500,100.125,2,100.120,72,TF1912
2019-09-05,2019-09-05 09:15:05.200,100.120,156,156242800,27499,100.130,8,100.120,75,TF1912
2019-09-05,2019-09-05 09:15:05.700,100.120,157,157244000,27498,100.125,1,100.120,70,TF1912
2019-09-05,2019-09-05 09:15:06.200,100.125,159,159246500,27499,100.125,2,100.120,77,TF1912
2019-09-05,2019-09-05 09:15:06.700,100.125,161,161249000,27501,100.130,6,100.125,10,TF1912
2019-09-05,2019-09-05 09:15:07.200,100.130,171,171262000,27496,100.145,1,100.135,1,TF1912
2019-09-05,2019-09-05 09:15:07.700,100.130,173,173264600,27496,100.140,1,100.135,1,TF1912
2019-09-05,2019-09-05 09:15:08.200,100.135,176,176268750,27494,100.145,7,100.135,42,TF1912
2019-09-05,2019-09-05 09:15:08.700,100.130,177,177270050,27493,100.140,1,100.130,17,TF1912
2019-09-05,2019-09-05 09:15:09.200,100.130,179,179272650,27492,100.145,24,100.130,18,TF1912
2019-09-05,2019-09-05 09:15:09.700,100.130,180,180273950,27491,100.140,4,100.130,62,TF1912
2019-09-05,2019-09-05 09:15:10.200,100.130,180,180273950,27491,100.135,2,100.130,17,TF1912
2019-09-05,2019-09-05 09:15:10.700,100.130,184,184279150,27491,100.130,2,100.125,3,TF1912
2019-09-05,2019-09-05 09:15:11.200,100.130,188,188284350,27489,100.140,3,100.130,31,TF1912
2019-09-05,2019-09-05 09:15:11.700,100.135,189,189285700,27489,100.135,1,100.130,32,TF1912
2019-09-05,2019-09-05 09:15:12.200,100.135,192,192289800,27491,100.135,1,100.130,48,TF1912
2019-09-05,2019-09-05 09:15:12.700,100.135,194,194292500,27490,100.140,2,100.135,1,TF1912
2019-09-05,2019-09-05 09:15:13.200,100.140,197,197296700,27489,100.140,2,100.135,40,TF1912
2019-09-05,2019-09-05 09:15:13.700,100.145,209,209313900,27489,100.145,1,100.140,1,TF1912
2019-09-05,2019-09-05 09:15:14.200,100.140,216,216324250,27485,100.160,11,100.135,65,TF1912
...,...,...,...,...,...,...,...,...,...,...
2019-09-05,2019-09-05 15:14:39.700,100.140,9451,9464340550,28025,100.140,10,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:40.200,100.140,9451,9464340550,28025,100.140,12,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:40.700,100.140,9451,9464340550,28025,100.140,12,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:41.200,100.140,9451,9464340550,28025,100.135,8,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:41.700,100.140,9451,9464340550,28025,100.135,8,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:42.200,100.135,9453,9466343250,28023,100.135,6,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:42.700,100.135,9453,9466343250,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:43.200,100.135,9453,9466343250,28023,100.135,6,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:43.700,100.135,9453,9466343250,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:44.200,100.135,9453,9466343250,28023,100.135,6,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:44.700,100.135,9453,9466343250,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:45.200,100.135,9453,9466343250,28023,100.135,6,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:45.700,100.135,9453,9466343250,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:46.200,100.135,9453,9466343250,28023,100.135,6,100.130,19,TF1912
2019-09-05,2019-09-05 15:14:46.700,100.135,9453,9466343250,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:48.700,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:49.200,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:50.700,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:51.200,100.130,9456,9469347150,28023,100.135,6,100.130,16,TF1912
2019-09-05,2019-09-05 15:14:51.700,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:52.700,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:53.200,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:56.700,100.130,9456,9469347150,28023,100.135,6,100.130,15,TF1912
2019-09-05,2019-09-05 15:14:57.200,100.130,9459,9472351050,28023,100.135,6,100.130,12,TF1912
2019-09-05,2019-09-05 15:14:57.700,100.130,9459,9472351050,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:58.200,100.130,9459,9472351050,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:14:59.700,100.130,9459,9472351050,28023,100.135,6,100.130,18,TF1912
2019-09-05,2019-09-05 15:15:00.200,100.130,9459,9472351050,28023,100.135,6,100.130,20,TF1912
2019-09-05,2019-09-05 15:23:02.200,100.130,9459,9472351050,28023,100.135,6,100.130,20,TF1912
2019-09-05,2019-09-05 15:25:45.200,100.130,9459,9472351050,28023,100.135,6,100.130,20,TF1912