In [1]:
from dqt import DBUtils, get_fut_min, get_fut_taq
import pandas as pd
from time import sleep
import numpy as np
from time import time
from datetime import timedelta

In [2]:
dbu = DBUtils()

all_varieties = ['A', 'AG', 'AL', 'AU', 'AP', 'BU', 'B', 'C', 'CF', 'CJ', 'CS', 'CU', 'CY', 'EG', 'FG', 'HC', 'I', 'J',
                'JD', 'JM', 'L', 'M', 'MA', 'NI', 'NR', 'OI', 'P', 'PB', 'PP', 'RB', 'RM', 'RU', 'SC', 'SP', 'SR', 'T',
                'TA', 'TF', 'TS', 'UR', 'V', 'Y', 'ZC', 'ZN']

all_trading_days = dbu.get_trading_day()
first_trading_day = all_trading_days[0]
print('first_trading_day: {}'.format(first_trading_day))
tick_data_first_day = '2014-01-01'

first_trading_day: 1990-12-19 00:00:00

In [5]:
all_trading_days

DatetimeIndex(['1990-12-19', '1990-12-20', '1990-12-21', '1990-12-24',
               '1990-12-25', '1990-12-26', '1990-12-27', '1990-12-28',
               '1990-12-31', '1991-01-02',
               ...
               '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27',
               '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', name='tradingDay', length=7146, freq=None)

In [3]:
#统计每个日期主力合约taq数据的数量
main_daily_df = dbu.get_main_daily(variety=all_varieties, start_date=tick_data_first_day)
print('main_daily_df: \n', main_daily_df)
num_records_df = pd.DataFrame(data={'date':main_daily_df['date'], 'symbol':main_daily_df['symbol']}, columns=['date', 'symbol', 'num taq records'])
print('num_records_df: \n', num_records_df)

df_size = num_records_df.shape[0]
start_time = time()
i=0
for idx, row in main_daily_df.iterrows():
    i+=1
    if i%1000 == 0:
        end_time = time()
        duration = end_time - start_time
        all_duration = duration * (df_size / 1000)
        start_time = time()
        print('time approximation: {}'.format(timedelta(seconds=all_duration)))
        print('idx: ', idx)
        print('row[date]: ', row['date'])
        print('row[symbol]: ', row['symbol'])
    try:
        taq_df = get_fut_taq(row['symbol'], start_date=row['date'], end_date=row['date'])
    except:
        print('{} at {} has error get_fut_taq'.format(row['symbol'], row['date']))
        continue
    #print('taq_df: \n', taq_df)
    num_taq_records = taq_df.shape[0]
    del taq_df

    
    #print('num_records_df.loc[idx, num taq records]: ', num_records_df.loc[idx, 'num taq records'])
    num_records_df.loc[idx, 'num taq records'] = num_taq_records
    #print('num_records_df.loc[idx, num taq records]: ', num_records_df.loc[idx, 'num taq records'])
    

print('#####finished checking all days#####')
    
print('num_records_df: \n', num_records_df)

main_daily_df:
        adj_factor       date  symbol       open       high        low  \
0        0.974518 2014-01-02   A1409   4312.000   4328.000   4286.000
17323    0.728988 2014-01-02   J1405   1456.000   1465.000   1449.000
13198    0.943055 2014-01-02  FG1405   1291.000   1293.000   1278.000
34995    0.895376 2014-01-02  RU1405  18195.000  18265.000  18010.000
18715    1.000000 2014-01-02  JD1405   3951.000   3978.000   3941.000
11619    0.991591 2014-01-02  CU1403  52290.000  52770.000  52220.000
39430    0.954998 2014-01-02  TA1405   7364.000   7364.000   7274.000
20107    0.881324 2014-01-02  JM1405   1003.000   1012.000    996.000
40822    0.995358 2014-01-02  TF1403     91.796     91.796     91.338
8977     1.001871 2014-01-02  CF1405  19360.000  19450.000  19305.000
33603    1.149350 2014-01-02  RM1405   2616.000   2642.000   2606.000
15931    1.000000 2014-01-02   I1405    912.000    912.000    899.000
7585     0.940223 2014-01-02   C1405   2344.000   2348.000   2342.000
22891    1.390456 2014-01-02   M1405   3346.000   3356.000   3325.000
43893    0.938997 2014-01-02   Y1405   6866.000   6936.000   6866.000
32211    0.788282 2014-01-02  RB1405   3562.000   3592.000   3562.000
4597     0.969138 2014-01-02  AU1406    241.100    244.900    241.100
26679    1.059971 2014-01-02  OI1405   7060.000   7100.000   7038.000
2784     0.869118 2014-01-02  AL1404  13965.000  14045.000  13950.000
46188    0.802198 2014-01-02  ZN1403  15190.000  15325.000  15175.000
1392     0.929860 2014-01-02  AG1406   4118.000   4226.000   4117.000
29463    0.877283 2014-01-02  PB1402  14235.000  14360.000  14205.000
28071    0.807799 2014-01-02   P1405   6080.000   6150.000   6068.000
42501    0.641296 2014-01-02   V1405   6410.000   6425.000   6355.000
36940    1.183417 2014-01-02  SR1405   4787.000   4802.000   4782.000
21499    0.806795 2014-01-02   L1405  11080.000  11095.000  11015.000
18716    1.000000 2014-01-03  JD1405   3998.000   4036.000   3980.000
8978     1.001871 2014-01-03  CF1405  19375.000  19380.000  19305.000
26680    1.059971 2014-01-03  OI1405   7038.000   7040.000   6968.000
22892    1.390456 2014-01-03   M1405   3322.000   3341.000   3318.000
...           ...        ...     ...        ...        ...        ...
22890    1.329675 2019-09-12   L2001   7310.000   7350.000   7255.000
25565    1.035752 2019-09-12  MA2001   2245.000   2253.000   2233.000
1391     0.788422 2019-09-12   A2001   3425.000   3433.000   3412.000
36386    0.376132 2019-09-12  RU2001  11985.000  12020.000  11885.000
46187    1.494240 2019-09-12  ZC2001    583.000    585.800    581.400
2783     0.759469 2019-09-12  AG1912   4475.000   4484.000   4418.000
45284    0.677740 2019-09-12   Y2001   6062.000   6102.000   6034.000
4175     0.811813 2019-09-12  AL1911  14420.000  14470.000  14390.000
4596     1.555326 2019-09-12  AP2001   8054.000   8085.000   7876.000
43892    0.817712 2019-09-12   V2001   6505.000   6520.000   6450.000
5988     0.854869 2019-09-12  AU1912    345.850    346.650    344.000
6438     0.960906 2019-09-12   B1911   3218.000   3238.000   3206.000
42500    1.000000 2019-09-12  UR2001   1818.000   1822.000   1811.000
42475    1.002600 2019-09-12  TS1912    100.295    100.315    100.270
42213    0.982766 2019-09-12  TF1912     99.920     99.990     99.845
15930    1.739978 2019-09-12  HC2001   3520.000   3568.000   3494.000
7584     0.655868 2019-09-12  BU1912   3100.000   3104.000   3026.000
40821    1.085622 2019-09-12  TA2001   5126.000   5126.000   5078.000
10368    0.983784 2019-09-12  CF2001  13000.000  13050.000  12840.000
10462    1.000000 2019-09-12  CJ1912  10450.000  10480.000  10305.000
39429    1.061446 2019-09-12   T1912     98.685     98.735     98.460
11618    1.184961 2019-09-12  CS2001   2275.000   2279.000   2258.000
13010    1.022514 2019-09-12  CU1911  47240.000  47500.000  47010.000
38331    0.938551 2019-09-12  SR2001   5516.000   5519.000   5476.000
28070    0.817691 2019-09-12  OI2001   7356.000   7363.000   7318.000
13197    0.994449 2019-09-12  EG2001   4775.000   4790.000   4724.000
14589    1.592249 2019-09-12  FG2001   1425.000   1481.000   1425.000
36939    0.984332 2019-09-12  SP2001   4712.000   4720.000   4688.000
8976     1.142452 2019-09-12   C2001   1874.000   1876.000   1860.000
47579    1.032283 2019-09-12  ZN1911  19315.000  19375.000  19155.000

           close     volume  open_interest      turnover       ...         \
0       4322.000    27710.0        79750.0  1.194784e+05       ...
17323   1454.000   413172.0       202104.0  6.021750e+06       ...
13198   1281.000   474004.0       291530.0  1.218232e+06       ...
34995  18135.000   354254.0       214686.0  6.425755e+06       ...
18715   3975.000    31536.0        53426.0  1.250904e+05       ...
11619  52670.000   203778.0       240224.0  5.353814e+06       ...
39430   7294.000   323978.0       403860.0  1.183148e+06       ...
20107    999.000   227108.0       243268.0  1.367797e+06       ...
40822     91.350     2350.0         3621.0  2.151063e+05       ...
8977   19385.000    51938.0        75032.0  5.032797e+05       ...
33603   2641.000  2447362.0      1106372.0  6.416177e+06       ...
15931    907.000    56510.0       107880.0  5.121998e+05       ...
7585    2342.000    26628.0       327492.0  6.242932e+04       ...
22891   3354.000   921104.0      1578492.0  3.076733e+06       ...
43893   6922.000   465014.0       845256.0  3.208060e+06       ...
32211   3590.000  1019050.0      1346124.0  3.650509e+06       ...
4597     244.450   118110.0       171802.0  2.874561e+06       ...
26679   7068.000   189622.0       278724.0  1.340612e+06       ...
2784   14040.000     4306.0        54082.0  3.014815e+04       ...
46188  15300.000    42604.0       112640.0  3.250951e+05       ...
1392    4213.000  1602996.0       668218.0  1.007724e+07       ...
29463  14345.000      724.0         7204.0  5.174470e+03       ...
28071   6148.000   629522.0       447612.0  3.851378e+06       ...
42501   6380.000    11698.0        29960.0  3.736774e+04       ...
36940   4789.000   161882.0       611476.0  7.755823e+05       ...
21499  11095.000   312716.0       296964.0  1.728834e+06       ...
18716   4015.000   102594.0        55466.0  4.118401e+05       ...
8978   19325.000    22286.0        72976.0  2.154038e+05       ...
26680   6988.000   177444.0       269678.0  1.242149e+06       ...
22892   3338.000   842146.0      1586902.0  2.804715e+06       ...
...          ...        ...            ...           ...       ...
22890   7290.000   509502.0       827932.0  1.860725e+06       ...
25565   2248.000  1141432.0      1331600.0  2.561902e+06       ...
1391    3420.000   104700.0       197440.0  3.584216e+05       ...
36386  11915.000   298646.0       354204.0  3.568449e+06       ...
46187    581.600    53240.0       176678.0  3.105360e+05       ...
2783    4460.000  2116072.0       985472.0  1.413973e+07       ...
45284   6054.000   597822.0       887378.0  3.624039e+06       ...
4175   14425.000   123576.0       283132.0  8.916114e+05       ...
4596    7898.000   139376.0       108572.0  1.107352e+06       ...
43892   6510.000   195024.0       323450.0  6.327334e+05       ...
5988     346.150   471986.0       498864.0  1.629433e+07       ...
6438    3223.000    49840.0       242150.0  1.605003e+05       ...
42500   1815.000    36434.0        83524.0  1.323280e+05       ...
42475    100.275    10478.0         6256.0  2.101810e+06       ...
42213     99.845    11106.0        29355.0  1.109741e+06       ...
15930   3568.000   441280.0       504822.0  1.554499e+06       ...
7584    3046.000   764144.0       658902.0  2.341306e+06       ...
40821   5098.000  1545602.0      1650928.0  3.944103e+06       ...
10368  12970.000   417132.0       514572.0  2.696846e+06       ...
10462  10370.000   234872.0        85296.0  1.219568e+06       ...
39429     98.490    42819.0        75528.0  4.222210e+06       ...
11618   2272.000   123608.0       239888.0  2.804224e+05       ...
13010  47490.000   134652.0       220198.0  3.181320e+06       ...
38331   5490.000   544198.0       704952.0  2.989037e+06       ...
28070   7336.000   200436.0       305570.0  1.470602e+06       ...
13197   4754.000   559912.0       429650.0  2.663140e+06       ...
14589   1452.000   880554.0       413334.0  2.558953e+06       ...
36939   4694.000   235056.0       297968.0  1.105486e+06       ...
8976    1872.000   679238.0      1130138.0  1.268887e+06       ...
47579  19245.000   269304.0       189758.0  2.593248e+06       ...

       settle_ret amplitude  left_days  interday_ret  high_ret   low_ret  \
0        -0.00023     0.010        256     -0.002083  0.000694 -0.000466
17323    -0.00614     0.011        134     -0.001372 -0.012803 -0.002066
13198    -0.01306     0.012        134      0.000775 -0.020455 -0.007764
34995    -0.00385     0.014        133      0.003032 -0.004361 -0.002769
18715     0.00050     0.009        134      0.000000 -0.005500  0.000508
11619     0.00497     0.011         74      0.000191  0.005718  0.003652
39430    -0.01110     0.012        134      0.000272 -0.007547 -0.011147
20107    -0.00791     0.016        134     -0.001990 -0.010753 -0.005988
40822    -0.00401     0.005         71     -0.000065 -0.000610 -0.001836
8977      0.00545     0.008        134      0.000775  0.003871  0.005993
33603     0.00153     0.014        134     -0.003049  0.003037  0.005789
15931    -0.00330     0.014        134      0.001098 -0.002188  0.000000
7585      0.00043     0.003        134     -0.000426  0.000000  0.001283
22891    -0.00654     0.009        134     -0.006532 -0.005040 -0.007463
43893     0.00466     0.010        134      0.002336  0.006092  0.003508
32211     0.00196     0.008        133     -0.002241  0.000000  0.000000
4597      0.01206     0.016        165      0.007101  0.012821  0.010478
26679    -0.00169     0.009        134      0.003696 -0.002809  0.000853
2784      0.00179     0.007        103     -0.001787  0.000356  0.000000
46188     0.00263     0.010         74     -0.000329  0.002617  0.000659
1392      0.01330     0.026        165      0.004635  0.012458  0.009316
29463    -0.00070     0.011         46     -0.002802  0.000697 -0.003158
28071     0.01292     0.014        134      0.006956  0.012846  0.008644
42501    -0.00623     0.011        134     -0.001558 -0.003103 -0.009353
36940    -0.00146     0.004        134     -0.000209 -0.004561  0.000209
21499    -0.00852     0.007        134     -0.001802 -0.010259 -0.007658
18716     0.01210     0.014        133      0.005786  0.014580  0.009896
8978     -0.00258     0.004        133     -0.000516 -0.003599  0.000000
26680    -0.00990     0.010        133     -0.004244 -0.008451 -0.009946
22892    -0.00299     0.007        133     -0.009541 -0.004470 -0.002105
...           ...       ...        ...           ...       ...       ...
22890     0.00069     0.013        125      0.000000  0.003413 -0.002063
25565    -0.00178     0.009        125      0.000000 -0.004419  0.000000
1391     -0.00262     0.006        125      0.000000 -0.006942 -0.000586
36386    -0.00292     0.011        125     -0.001250 -0.003317  0.000421
46187     0.00275     0.008        118      0.000343  0.004803  0.002414
2783     -0.00492     0.015         95     -0.002230 -0.005103  0.000680
45284    -0.00492     0.011        125     -0.000659 -0.007482 -0.001324
4175      0.00278     0.006         64      0.000347  0.003120  0.002787
4596     -0.01463     0.026        125     -0.000620 -0.004310 -0.013774
43892    -0.00460     0.011        125     -0.000768 -0.002295 -0.007692
5988     -0.00246     0.008         95     -0.000289 -0.003450 -0.000871
6438     -0.00464     0.010         63     -0.000311 -0.011600  0.001875
42500     0.00110     0.006        125      0.000550  0.001099  0.001659
42475    -0.00050     0.000         92     -0.000349 -0.000249 -0.000498
42213    -0.00145     0.001         92     -0.000850 -0.000700 -0.001350
15930     0.00171     0.021        125      0.001422  0.008764 -0.001714
7584     -0.02173     0.025         95      0.002587 -0.018963 -0.019443
40821    -0.00739     0.009        125      0.000781 -0.016500 -0.003141
10368    -0.00308     0.016        125      0.001927  0.001919 -0.005422
10462    -0.01517     0.017         92      0.001918 -0.027829 -0.002903
39429    -0.00329     0.003         92     -0.000962 -0.001719 -0.003189
11618    -0.00613     0.009        125     -0.000878 -0.004369 -0.007473
13010     0.00042     0.010         64     -0.001057  0.001898 -0.001062
38331    -0.00145     0.008        125     -0.001448 -0.002350  0.002747
28070    -0.00475     0.006        125      0.000680 -0.006075 -0.001909
13197     0.00232     0.014        138     -0.001046  0.001045  0.005534
14589     0.01893     0.039        125      0.000702  0.033496  0.003521
36939    -0.00381     0.007        125      0.000425 -0.005059 -0.002553
8976     -0.00479     0.009        125      0.000000 -0.004246 -0.006410
47579     0.00627     0.011         64      0.002595  0.003626  0.012153

       open_ret intraday_ret trade_symbol  projected_value
0      0.005597     0.002319        a1409     8.271253e+04
17323 -0.016880    -0.001374        j1405     1.998576e+05
13198 -0.016006    -0.007746        FG405     2.981755e+05
34995 -0.001646    -0.003298       ru1405     2.155095e+05
18715 -0.007536     0.006074       jd1405     5.294156e+04
11619  0.000383     0.007267       cu1403     2.465576e+05
39430 -0.007012    -0.009506        TA405     4.093211e+05
20107 -0.016667    -0.003988       jm1405     2.451752e+05
40822  0.000501    -0.004859       TF1403     3.826267e+03
8977   0.006237     0.001291        CF405     5.202495e+04
33603  0.007704     0.009557        RM405     1.162234e+06
15931  0.004405    -0.005482        i1405     1.077158e+05
7585   0.000427    -0.000853        c1405     4.749419e+04
22891 -0.001790     0.002391        m1405     1.177866e+06
43893 -0.001745     0.008156        y1405     5.142882e+05
32211 -0.003358     0.007861       rb1405     1.307927e+06
4597   0.002286     0.013895       au1406     1.712815e+05
26679 -0.005634     0.001133        OI405     1.793092e+05
2784  -0.005342     0.005371       al1404     5.563247e+04
46188 -0.001971     0.007242       zn1403     1.133416e+05
1392  -0.005314     0.023069       ag1406     6.748521e+05
29463 -0.007322     0.007727       pb1402     7.036058e+03
28071  0.008292     0.011184        p1405     6.711064e+05
42501 -0.003885    -0.004680        v1405     2.974038e+04
36940 -0.006640     0.000418        SR405     6.148815e+05
21499 -0.009830     0.001354        l1405     2.998919e+05
18716  0.011896     0.004252       jd1405     5.582304e+04
8978   0.000775    -0.002581        CF405     4.211197e+04
26680 -0.003116    -0.007104        OI405     1.786875e+05
22892 -0.007173     0.004816        m1405     1.065960e+06
...         ...          ...          ...              ...
22890  0.002056    -0.002736        l2001     8.082754e+05
25565 -0.001335     0.001336        MA001     1.286342e+06
1391  -0.008683    -0.001460        a2001     2.008592e+05
36386 -0.004981    -0.005841       ru2001     3.515245e+05
46187  0.002752    -0.002401        ZC001     1.775054e+05
2783   0.008792    -0.003352       ag1912     9.366719e+05
45284 -0.004598    -0.001320        y2001     7.767832e+05
4175   0.003479     0.000347       al1911     2.925620e+05
4596   0.005242    -0.019369        AP001     1.153187e+05
43892 -0.000768     0.000769        v2001     3.249953e+05
5988   0.001013     0.000867       au1912     4.878482e+05
6438  -0.009846     0.001554        b1911     2.467485e+05
42500  0.003865    -0.001650        UR001     8.108536e+04
42475 -0.000349    -0.000199       TS1912     6.560949e+03
42213 -0.000700    -0.000751       TF1912     2.949823e+04
15930 -0.000568     0.013636       hc2001     5.035241e+05
7584  -0.013995    -0.017419       bu1912     6.570977e+05
40821 -0.012331    -0.005462        TA001     1.664953e+06
10368  0.004637    -0.002308        CF001     4.964784e+05
10462 -0.021536    -0.007656        CJ912     8.148088e+04
39429 -0.001871    -0.001976        T1912     7.485773e+04
11618 -0.003940    -0.001319       cs2001     2.447224e+05
13010  0.002972     0.005292       cu1911     2.235271e+05
38331  0.006019    -0.004714        SR001     6.988878e+05
28070 -0.002982    -0.002719        OI001     2.369393e+05
13197  0.005687    -0.004398       eg2001     4.353752e+05
14589 -0.001402     0.018947        FG001     4.301109e+05
36939 -0.004227    -0.003820       sp2001     2.945351e+05
8976  -0.004251    -0.001067        c2001     5.651309e+05
47579  0.017650    -0.003624       zn1911     1.957312e+05

[47580 rows x 32 columns]

num_records_df:
             date  symbol num taq records
0     2014-01-02   A1409             NaN
17323 2014-01-02   J1405             NaN
13198 2014-01-02  FG1405             NaN
34995 2014-01-02  RU1405             NaN
18715 2014-01-02  JD1405             NaN
11619 2014-01-02  CU1403             NaN
39430 2014-01-02  TA1405             NaN
20107 2014-01-02  JM1405             NaN
40822 2014-01-02  TF1403             NaN
8977  2014-01-02  CF1405             NaN
33603 2014-01-02  RM1405             NaN
15931 2014-01-02   I1405             NaN
7585  2014-01-02   C1405             NaN
22891 2014-01-02   M1405             NaN
43893 2014-01-02   Y1405             NaN
32211 2014-01-02  RB1405             NaN
4597  2014-01-02  AU1406             NaN
26679 2014-01-02  OI1405             NaN
2784  2014-01-02  AL1404             NaN
46188 2014-01-02  ZN1403             NaN
1392  2014-01-02  AG1406             NaN
29463 2014-01-02  PB1402             NaN
28071 2014-01-02   P1405             NaN
42501 2014-01-02   V1405             NaN
36940 2014-01-02  SR1405             NaN
21499 2014-01-02   L1405             NaN
18716 2014-01-03  JD1405             NaN
8978  2014-01-03  CF1405             NaN
26680 2014-01-03  OI1405             NaN
22892 2014-01-03   M1405             NaN
...          ...     ...             ...
22890 2019-09-12   L2001             NaN
25565 2019-09-12  MA2001             NaN
1391  2019-09-12   A2001             NaN
36386 2019-09-12  RU2001             NaN
46187 2019-09-12  ZC2001             NaN
2783  2019-09-12  AG1912             NaN
45284 2019-09-12   Y2001             NaN
4175  2019-09-12  AL1911             NaN
4596  2019-09-12  AP2001             NaN
43892 2019-09-12   V2001             NaN
5988  2019-09-12  AU1912             NaN
6438  2019-09-12   B1911             NaN
42500 2019-09-12  UR2001             NaN
42475 2019-09-12  TS1912             NaN
42213 2019-09-12  TF1912             NaN
15930 2019-09-12  HC2001             NaN
7584  2019-09-12  BU1912             NaN
40821 2019-09-12  TA2001             NaN
10368 2019-09-12  CF2001             NaN
10462 2019-09-12  CJ1912             NaN
39429 2019-09-12   T1912             NaN
11618 2019-09-12  CS2001             NaN
13010 2019-09-12  CU1911             NaN
38331 2019-09-12  SR2001             NaN
28070 2019-09-12  OI2001             NaN
13197 2019-09-12  EG2001             NaN
14589 2019-09-12  FG2001             NaN
36939 2019-09-12  SP2001             NaN
8976  2019-09-12   C2001             NaN
47579 2019-09-12  ZN1911             NaN

[47580 rows x 3 columns]
time approximation: 0:36:15.703059
idx:  22929
row[date]:  2014-03-04 00:00:00
row[symbol]:  M1409
time approximation: 0:38:56.058124
idx:  2858
row[date]:  2014-04-24 00:00:00
row[symbol]:  AL1407
time approximation: 0:37:21.779561
idx:  13308
row[date]:  2014-06-18 00:00:00
row[symbol]:  FG1409
time approximation: 0:38:44.122694
idx:  21643
row[date]:  2014-08-05 00:00:00
row[symbol]:  L1501
time approximation: 1:07:06.719591
idx:  2963
row[date]:  2014-09-24 00:00:00
row[symbol]:  AL1412
time approximation: 1:17:11.526427
idx:  1605
row[date]:  2014-11-18 00:00:00
row[symbol]:  AG1506
time approximation: 0:40:21.660773
idx:  33850
row[date]:  2015-01-07 00:00:00
row[symbol]:  RM1505
time approximation: 0:38:56.785260
idx:  6472
row[date]:  2015-02-27 00:00:00
row[symbol]:  BU1506
time approximation: 0:39:29.084577
idx:  21810
row[date]:  2015-04-15 00:00:00
row[symbol]:  L1509
time approximation: 0:42:00.847355
idx:  31160
row[date]:  2015-05-28 00:00:00
row[symbol]:  PP1509
time approximation: 0:39:46.042895
idx:  33974
row[date]:  2015-07-10 00:00:00
row[symbol]:  RM1509
time approximation: 0:42:22.278765
idx:  19117
row[date]:  2015-08-24 00:00:00
row[symbol]:  JD1601
time approximation: 0:45:04.283673
idx:  14971
row[date]:  2015-10-14 00:00:00
row[symbol]:  HC1601
time approximation: 0:43:42.860988
idx:  1854
row[date]:  2015-11-25 00:00:00
row[symbol]:  AG1606
time approximation: 0:45:05.537600
idx:  46680
row[date]:  2016-01-07 00:00:00
row[symbol]:  ZN1603
time approximation: 0:43:46.284900
idx:  38560
row[date]:  2016-02-25 00:00:00
row[symbol]:  T1606
time approximation: 0:46:20.292477
idx:  10778
row[date]:  2016-04-07 00:00:00
row[symbol]:  CS1609
time approximation: 0:58:41.995373
idx:  581
row[date]:  2016-05-20 00:00:00
row[symbol]:  A1609
time approximation: 1:48:55.886653
idx:  9587
row[date]:  2016-07-04 00:00:00
row[symbol]:  CF1701
time approximation: 1:54:13.839748
idx:  19354
row[date]:  2016-08-12 00:00:00
row[symbol]:  JD1701
time approximation: 1:49:40.842853
idx:  30132
row[date]:  2016-09-27 00:00:00
row[symbol]:  PB1611
time approximation: 1:55:26.630159
idx:  23589
row[date]:  2016-11-14 00:00:00
row[symbol]:  M1701
time approximation: 1:09:53.434043
idx:  16659
row[date]:  2016-12-26 00:00:00
row[symbol]:  I1705
time approximation: 0:55:10.587617
idx:  46945
row[date]:  2017-02-13 00:00:00
row[symbol]:  ZN1704
time approximation: 0:55:29.667073
idx:  31606
row[date]:  2017-03-27 00:00:00
row[symbol]:  PP1705
time approximation: 0:55:37.673308
idx:  41638
row[date]:  2017-05-10 00:00:00
row[symbol]:  TF1709
time approximation: 0:54:07.062280
idx:  23736
row[date]:  2017-06-22 00:00:00
row[symbol]:  M1709
time approximation: 0:53:23.306396
idx:  45671
row[date]:  2017-08-03 00:00:00
row[symbol]:  ZC1709
time approximation: 0:55:26.102553
idx:  26171
row[date]:  2017-09-13 00:00:00
row[symbol]:  NI1801
time approximation: 0:54:15.830942
idx:  14132
row[date]:  2017-11-01 00:00:00
row[symbol]:  FG1801
time approximation: 0:52:27.679765
idx:  31781
row[date]:  2017-12-11 00:00:00
row[symbol]:  PP1805
time approximation: 0:50:32.635942
idx:  8575
row[date]:  2018-01-19 00:00:00
row[symbol]:  C1805
time approximation: 0:49:39.470439
idx:  30481
row[date]:  2018-03-07 00:00:00
row[symbol]:  PB1804
SC1809 at 2018-03-26 00:00:00 has error get_fut_taq
SC1809 at 2018-03-27 00:00:00 has error get_fut_taq
SC1809 at 2018-03-28 00:00:00 has error get_fut_taq
SC1809 at 2018-03-29 00:00:00 has error get_fut_taq
SC1809 at 2018-03-30 00:00:00 has error get_fut_taq
SC1809 at 2018-04-02 00:00:00 has error get_fut_taq
SC1809 at 2018-04-03 00:00:00 has error get_fut_taq
SC1809 at 2018-04-04 00:00:00 has error get_fut_taq
SC1809 at 2018-04-09 00:00:00 has error get_fut_taq
SC1809 at 2018-04-10 00:00:00 has error get_fut_taq
SC1809 at 2018-04-11 00:00:00 has error get_fut_taq
SC1809 at 2018-04-12 00:00:00 has error get_fut_taq
SC1809 at 2018-04-13 00:00:00 has error get_fut_taq
SC1809 at 2018-04-16 00:00:00 has error get_fut_taq
SC1809 at 2018-04-17 00:00:00 has error get_fut_taq
time approximation: 0:50:12.520454
idx:  14244
row[date]:  2018-04-18 00:00:00
row[symbol]:  FG1809
SC1809 at 2018-04-18 00:00:00 has error get_fut_taq
SC1809 at 2018-04-19 00:00:00 has error get_fut_taq
SC1809 at 2018-04-20 00:00:00 has error get_fut_taq
SC1809 at 2018-04-23 00:00:00 has error get_fut_taq
SC1809 at 2018-04-24 00:00:00 has error get_fut_taq
SC1809 at 2018-04-25 00:00:00 has error get_fut_taq
SC1809 at 2018-04-26 00:00:00 has error get_fut_taq
SC1809 at 2018-04-27 00:00:00 has error get_fut_taq
SC1809 at 2018-05-02 00:00:00 has error get_fut_taq
SC1809 at 2018-05-03 00:00:00 has error get_fut_taq
SC1809 at 2018-05-04 00:00:00 has error get_fut_taq
SC1809 at 2018-05-07 00:00:00 has error get_fut_taq
SC1809 at 2018-05-08 00:00:00 has error get_fut_taq
SC1809 at 2018-05-09 00:00:00 has error get_fut_taq
SC1809 at 2018-05-10 00:00:00 has error get_fut_taq
SC1809 at 2018-05-11 00:00:00 has error get_fut_taq
SC1809 at 2018-05-14 00:00:00 has error get_fut_taq
SC1809 at 2018-05-15 00:00:00 has error get_fut_taq
SC1809 at 2018-05-16 00:00:00 has error get_fut_taq
SC1809 at 2018-05-17 00:00:00 has error get_fut_taq
SC1809 at 2018-05-18 00:00:00 has error get_fut_taq
SC1809 at 2018-05-21 00:00:00 has error get_fut_taq
SC1809 at 2018-05-22 00:00:00 has error get_fut_taq
SC1809 at 2018-05-23 00:00:00 has error get_fut_taq
SC1809 at 2018-05-24 00:00:00 has error get_fut_taq
SC1809 at 2018-05-25 00:00:00 has error get_fut_taq
SC1809 at 2018-05-28 00:00:00 has error get_fut_taq
time approximation: 0:48:56.575221
idx:  31892
row[date]:  2018-05-29 00:00:00
row[symbol]:  PP1809

SC1809 at 2018-05-29 00:00:00 has error get_fut_taq
SC1809 at 2018-05-30 00:00:00 has error get_fut_taq
SC1809 at 2018-05-31 00:00:00 has error get_fut_taq
SC1809 at 2018-06-01 00:00:00 has error get_fut_taq
SC1809 at 2018-06-04 00:00:00 has error get_fut_taq
SC1809 at 2018-06-05 00:00:00 has error get_fut_taq
SC1809 at 2018-06-06 00:00:00 has error get_fut_taq
SC1809 at 2018-06-07 00:00:00 has error get_fut_taq
SC1809 at 2018-06-08 00:00:00 has error get_fut_taq
SC1809 at 2018-06-11 00:00:00 has error get_fut_taq
SC1809 at 2018-06-12 00:00:00 has error get_fut_taq
SC1809 at 2018-06-13 00:00:00 has error get_fut_taq
SC1809 at 2018-06-14 00:00:00 has error get_fut_taq
SC1809 at 2018-06-15 00:00:00 has error get_fut_taq
SC1809 at 2018-06-19 00:00:00 has error get_fut_taq
SC1809 at 2018-06-20 00:00:00 has error get_fut_taq
SC1809 at 2018-06-21 00:00:00 has error get_fut_taq
SC1809 at 2018-06-22 00:00:00 has error get_fut_taq
SC1809 at 2018-06-25 00:00:00 has error get_fut_taq
SC1809 at 2018-06-26 00:00:00 has error get_fut_taq
SC1809 at 2018-06-27 00:00:00 has error get_fut_taq
SC1809 at 2018-06-28 00:00:00 has error get_fut_taq
SC1809 at 2018-06-29 00:00:00 has error get_fut_taq
SC1809 at 2018-07-02 00:00:00 has error get_fut_taq
SC1809 at 2018-07-03 00:00:00 has error get_fut_taq
SC1809 at 2018-07-04 00:00:00 has error get_fut_taq
SC1809 at 2018-07-05 00:00:00 has error get_fut_taq
time approximation: 0:49:13.543964
idx:  8685
row[date]:  2018-07-06 00:00:00
row[symbol]:  C1809
SC1809 at 2018-07-06 00:00:00 has error get_fut_taq
SC1809 at 2018-07-09 00:00:00 has error get_fut_taq
SC1809 at 2018-07-10 00:00:00 has error get_fut_taq
SC1809 at 2018-07-11 00:00:00 has error get_fut_taq
SC1809 at 2018-07-12 00:00:00 has error get_fut_taq
SC1809 at 2018-07-13 00:00:00 has error get_fut_taq
SC1809 at 2018-07-16 00:00:00 has error get_fut_taq
SC1809 at 2018-07-17 00:00:00 has error get_fut_taq
SC1809 at 2018-07-18 00:00:00 has error get_fut_taq
SC1809 at 2018-07-19 00:00:00 has error get_fut_taq
SC1809 at 2018-07-20 00:00:00 has error get_fut_taq
SC1809 at 2018-07-23 00:00:00 has error get_fut_taq
SC1809 at 2018-07-24 00:00:00 has error get_fut_taq
SC1809 at 2018-07-25 00:00:00 has error get_fut_taq
SC1809 at 2018-07-26 00:00:00 has error get_fut_taq
SC1809 at 2018-07-27 00:00:00 has error get_fut_taq
SC1809 at 2018-07-30 00:00:00 has error get_fut_taq
SC1809 at 2018-07-31 00:00:00 has error get_fut_taq
SC1809 at 2018-08-01 00:00:00 has error get_fut_taq
SC1809 at 2018-08-02 00:00:00 has error get_fut_taq
SC1809 at 2018-08-03 00:00:00 has error get_fut_taq
SC1809 at 2018-08-06 00:00:00 has error get_fut_taq
SC1809 at 2018-08-07 00:00:00 has error get_fut_taq
SC1812 at 2018-08-08 00:00:00 has error get_fut_taq
SC1812 at 2018-08-09 00:00:00 has error get_fut_taq
SC1812 at 2018-08-10 00:00:00 has error get_fut_taq
SC1812 at 2018-08-13 00:00:00 has error get_fut_taq
time approximation: 0:48:45.705125
idx:  27806
row[date]:  2018-08-14 00:00:00
row[symbol]:  OI1901
SC1812 at 2018-08-14 00:00:00 has error get_fut_taq
SC1812 at 2018-08-15 00:00:00 has error get_fut_taq
SC1812 at 2018-08-16 00:00:00 has error get_fut_taq
SC1812 at 2018-08-17 00:00:00 has error get_fut_taq
SC1812 at 2018-08-20 00:00:00 has error get_fut_taq
SC1812 at 2018-08-21 00:00:00 has error get_fut_taq
SC1812 at 2018-08-22 00:00:00 has error get_fut_taq
SC1812 at 2018-08-23 00:00:00 has error get_fut_taq
SC1812 at 2018-08-24 00:00:00 has error get_fut_taq
SC1812 at 2018-08-27 00:00:00 has error get_fut_taq
SC1812 at 2018-08-28 00:00:00 has error get_fut_taq
SC1812 at 2018-08-29 00:00:00 has error get_fut_taq
SC1812 at 2018-08-30 00:00:00 has error get_fut_taq
SC1812 at 2018-08-31 00:00:00 has error get_fut_taq
SC1812 at 2018-09-03 00:00:00 has error get_fut_taq
SC1812 at 2018-09-04 00:00:00 has error get_fut_taq
SC1812 at 2018-09-05 00:00:00 has error get_fut_taq
SC1812 at 2018-09-06 00:00:00 has error get_fut_taq
SC1812 at 2018-09-07 00:00:00 has error get_fut_taq
SC1812 at 2018-09-10 00:00:00 has error get_fut_taq
SC1812 at 2018-09-11 00:00:00 has error get_fut_taq
SC1812 at 2018-09-12 00:00:00 has error get_fut_taq
SC1812 at 2018-09-13 00:00:00 has error get_fut_taq
SC1812 at 2018-09-14 00:00:00 has error get_fut_taq
SC1812 at 2018-09-17 00:00:00 has error get_fut_taq
SC1812 at 2018-09-18 00:00:00 has error get_fut_taq
time approximation: 1:43:12.204819
idx:  8738
row[date]:  2018-09-19 00:00:00
row[symbol]:  C1901
SC1812 at 2018-09-19 00:00:00 has error get_fut_taq
SC1812 at 2018-09-20 00:00:00 has error get_fut_taq
SC1812 at 2018-09-21 00:00:00 has error get_fut_taq
SC1812 at 2018-09-25 00:00:00 has error get_fut_taq
SC1812 at 2018-09-26 00:00:00 has error get_fut_taq
SC1812 at 2018-09-27 00:00:00 has error get_fut_taq
SC1812 at 2018-09-28 00:00:00 has error get_fut_taq
SC1812 at 2018-10-08 00:00:00 has error get_fut_taq
SC1812 at 2018-10-09 00:00:00 has error get_fut_taq
SC1812 at 2018-10-10 00:00:00 has error get_fut_taq
SC1812 at 2018-10-11 00:00:00 has error get_fut_taq
SC1812 at 2018-10-12 00:00:00 has error get_fut_taq
SC1812 at 2018-10-15 00:00:00 has error get_fut_taq
SC1812 at 2018-10-16 00:00:00 has error get_fut_taq
SC1812 at 2018-10-17 00:00:00 has error get_fut_taq
SC1812 at 2018-10-18 00:00:00 has error get_fut_taq
SC1812 at 2018-10-19 00:00:00 has error get_fut_taq
SC1812 at 2018-10-22 00:00:00 has error get_fut_taq
SC1812 at 2018-10-23 00:00:00 has error get_fut_taq
SC1812 at 2018-10-24 00:00:00 has error get_fut_taq
SC1812 at 2018-10-25 00:00:00 has error get_fut_taq
SC1812 at 2018-10-26 00:00:00 has error get_fut_taq
SC1812 at 2018-10-29 00:00:00 has error get_fut_taq
SC1812 at 2018-10-30 00:00:00 has error get_fut_taq
SC1812 at 2018-10-31 00:00:00 has error get_fut_taq
SC1812 at 2018-11-01 00:00:00 has error get_fut_taq
SC1812 at 2018-11-02 00:00:00 has error get_fut_taq
time approximation: 1:35:58.086779
idx:  24070
row[date]:  2018-11-02 00:00:00
row[symbol]:  M1901
SC1812 at 2018-11-05 00:00:00 has error get_fut_taq
SC1812 at 2018-11-06 00:00:00 has error get_fut_taq
SC1812 at 2018-11-07 00:00:00 has error get_fut_taq
SC1812 at 2018-11-08 00:00:00 has error get_fut_taq
SC1812 at 2018-11-09 00:00:00 has error get_fut_taq
SC1812 at 2018-11-12 00:00:00 has error get_fut_taq
SC1812 at 2018-11-13 00:00:00 has error get_fut_taq
SC1812 at 2018-11-14 00:00:00 has error get_fut_taq
SC1901 at 2018-11-15 00:00:00 has error get_fut_taq
SC1901 at 2018-11-16 00:00:00 has error get_fut_taq
SC1901 at 2018-11-19 00:00:00 has error get_fut_taq
SC1901 at 2018-11-20 00:00:00 has error get_fut_taq
SC1901 at 2018-11-21 00:00:00 has error get_fut_taq
SC1901 at 2018-11-22 00:00:00 has error get_fut_taq
SC1901 at 2018-11-23 00:00:00 has error get_fut_taq
SC1901 at 2018-11-26 00:00:00 has error get_fut_taq
SC1901 at 2018-11-27 00:00:00 has error get_fut_taq
SC1901 at 2018-11-28 00:00:00 has error get_fut_taq
SC1901 at 2018-11-29 00:00:00 has error get_fut_taq
SC1901 at 2018-11-30 00:00:00 has error get_fut_taq
SC1901 at 2018-12-03 00:00:00 has error get_fut_taq
SC1901 at 2018-12-04 00:00:00 has error get_fut_taq
SC1901 at 2018-12-05 00:00:00 has error get_fut_taq
SC1901 at 2018-12-06 00:00:00 has error get_fut_taq
SC1901 at 2018-12-07 00:00:00 has error get_fut_taq
time approximation: 0:48:56.500101
idx:  17136
row[date]:  2018-12-10 00:00:00
row[symbol]:  I1905
SC1901 at 2018-12-10 00:00:00 has error get_fut_taq
SC1901 at 2018-12-11 00:00:00 has error get_fut_taq
SC1901 at 2018-12-12 00:00:00 has error get_fut_taq
SC1901 at 2018-12-13 00:00:00 has error get_fut_taq
SC1903 at 2018-12-14 00:00:00 has error get_fut_taq
SC1903 at 2018-12-17 00:00:00 has error get_fut_taq
SC1903 at 2018-12-18 00:00:00 has error get_fut_taq
SC1903 at 2018-12-19 00:00:00 has error get_fut_taq
SC1903 at 2018-12-20 00:00:00 has error get_fut_taq
SC1903 at 2018-12-21 00:00:00 has error get_fut_taq
SC1903 at 2018-12-24 00:00:00 has error get_fut_taq
SC1903 at 2018-12-25 00:00:00 has error get_fut_taq
SC1903 at 2018-12-26 00:00:00 has error get_fut_taq
SC1903 at 2018-12-27 00:00:00 has error get_fut_taq
SC1903 at 2018-12-28 00:00:00 has error get_fut_taq
SC1903 at 2019-01-02 00:00:00 has error get_fut_taq
SC1903 at 2019-01-03 00:00:00 has error get_fut_taq

SC1903 at 2019-01-04 00:00:00 has error get_fut_taq
SC1903 at 2019-01-07 00:00:00 has error get_fut_taq
SC1903 at 2019-01-08 00:00:00 has error get_fut_taq
SC1903 at 2019-01-09 00:00:00 has error get_fut_taq
SC1903 at 2019-01-10 00:00:00 has error get_fut_taq
SC1903 at 2019-01-11 00:00:00 has error get_fut_taq
SC1903 at 2019-01-14 00:00:00 has error get_fut_taq
SC1903 at 2019-01-15 00:00:00 has error get_fut_taq
SC1903 at 2019-01-16 00:00:00 has error get_fut_taq
time approximation: 0:50:00.646406
idx:  36225
row[date]:  2019-01-16 00:00:00
row[symbol]:  RU1905
SC1903 at 2019-01-17 00:00:00 has error get_fut_taq
SC1903 at 2019-01-18 00:00:00 has error get_fut_taq
SC1903 at 2019-01-21 00:00:00 has error get_fut_taq
SC1903 at 2019-01-22 00:00:00 has error get_fut_taq
SC1903 at 2019-01-23 00:00:00 has error get_fut_taq
SC1903 at 2019-01-24 00:00:00 has error get_fut_taq
SC1903 at 2019-01-25 00:00:00 has error get_fut_taq
SC1903 at 2019-01-28 00:00:00 has error get_fut_taq
SC1903 at 2019-01-29 00:00:00 has error get_fut_taq
SC1903 at 2019-01-30 00:00:00 has error get_fut_taq
SC1903 at 2019-01-31 00:00:00 has error get_fut_taq
SC1903 at 2019-02-01 00:00:00 has error get_fut_taq
SC1903 at 2019-02-11 00:00:00 has error get_fut_taq
SC1903 at 2019-02-12 00:00:00 has error get_fut_taq
SC1903 at 2019-02-13 00:00:00 has error get_fut_taq
SC1903 at 2019-02-14 00:00:00 has error get_fut_taq
SC1904 at 2019-02-15 00:00:00 has error get_fut_taq
SC1904 at 2019-02-18 00:00:00 has error get_fut_taq
SC1904 at 2019-02-19 00:00:00 has error get_fut_taq
SC1904 at 2019-02-20 00:00:00 has error get_fut_taq
SC1904 at 2019-02-21 00:00:00 has error get_fut_taq
SC1904 at 2019-02-22 00:00:00 has error get_fut_taq
SC1904 at 2019-02-25 00:00:00 has error get_fut_taq
SC1904 at 2019-02-26 00:00:00 has error get_fut_taq
SC1904 at 2019-02-27 00:00:00 has error get_fut_taq
time approximation: 0:52:51.927062
idx:  34858
row[date]:  2019-02-27 00:00:00
row[symbol]:  RM1905
SC1904 at 2019-02-28 00:00:00 has error get_fut_taq
SC1904 at 2019-03-01 00:00:00 has error get_fut_taq
SC1904 at 2019-03-04 00:00:00 has error get_fut_taq
SC1904 at 2019-03-05 00:00:00 has error get_fut_taq
SC1904 at 2019-03-06 00:00:00 has error get_fut_taq
SC1904 at 2019-03-07 00:00:00 has error get_fut_taq
SC1904 at 2019-03-08 00:00:00 has error get_fut_taq
SC1904 at 2019-03-11 00:00:00 has error get_fut_taq
SC1904 at 2019-03-12 00:00:00 has error get_fut_taq
SC1904 at 2019-03-13 00:00:00 has error get_fut_taq
SC1904 at 2019-03-14 00:00:00 has error get_fut_taq
SC1905 at 2019-03-15 00:00:00 has error get_fut_taq
SC1905 at 2019-03-18 00:00:00 has error get_fut_taq
SC1905 at 2019-03-19 00:00:00 has error get_fut_taq
SC1905 at 2019-03-20 00:00:00 has error get_fut_taq
SC1905 at 2019-03-21 00:00:00 has error get_fut_taq
SC1905 at 2019-03-22 00:00:00 has error get_fut_taq
SC1905 at 2019-03-25 00:00:00 has error get_fut_taq
SC1905 at 2019-03-26 00:00:00 has error get_fut_taq
SC1905 at 2019-03-27 00:00:00 has error get_fut_taq
SC1905 at 2019-03-28 00:00:00 has error get_fut_taq
SC1905 at 2019-03-29 00:00:00 has error get_fut_taq
SC1905 at 2019-04-01 00:00:00 has error get_fut_taq
SC1905 at 2019-04-02 00:00:00 has error get_fut_taq
SC1905 at 2019-04-03 00:00:00 has error get_fut_taq
time approximation: 0:52:41.396264
idx:  2672
row[date]:  2019-04-03 00:00:00
row[symbol]:  AG1906
SC1905 at 2019-04-04 00:00:00 has error get_fut_taq
SC1905 at 2019-04-08 00:00:00 has error get_fut_taq
SC1905 at 2019-04-09 00:00:00 has error get_fut_taq
SC1905 at 2019-04-10 00:00:00 has error get_fut_taq
SC1905 at 2019-04-11 00:00:00 has error get_fut_taq
SC1905 at 2019-04-12 00:00:00 has error get_fut_taq
SC1906 at 2019-04-15 00:00:00 has error get_fut_taq
SC1906 at 2019-04-16 00:00:00 has error get_fut_taq
SC1906 at 2019-04-17 00:00:00 has error get_fut_taq
SC1906 at 2019-04-18 00:00:00 has error get_fut_taq
SC1906 at 2019-04-19 00:00:00 has error get_fut_taq
SC1906 at 2019-04-22 00:00:00 has error get_fut_taq
SC1906 at 2019-04-23 00:00:00 has error get_fut_taq
SC1906 at 2019-04-24 00:00:00 has error get_fut_taq
SC1906 at 2019-04-25 00:00:00 has error get_fut_taq
SC1906 at 2019-04-26 00:00:00 has error get_fut_taq
SC1906 at 2019-04-29 00:00:00 has error get_fut_taq
SC1906 at 2019-04-30 00:00:00 has error get_fut_taq
SC1906 at 2019-05-06 00:00:00 has error get_fut_taq
SC1906 at 2019-05-07 00:00:00 has error get_fut_taq
SC1906 at 2019-05-08 00:00:00 has error get_fut_taq
SC1906 at 2019-05-09 00:00:00 has error get_fut_taq
SC1906 at 2019-05-10 00:00:00 has error get_fut_taq
SC1906 at 2019-05-13 00:00:00 has error get_fut_taq
SC1906 at 2019-05-14 00:00:00 has error get_fut_taq
time approximation: 0:46:48.547992
idx:  38245
row[date]:  2019-05-14 00:00:00
row[symbol]:  SR1909
SC1906 at 2019-05-15 00:00:00 has error get_fut_taq
SC1906 at 2019-05-16 00:00:00 has error get_fut_taq
SC1907 at 2019-05-17 00:00:00 has error get_fut_taq
SC1907 at 2019-05-20 00:00:00 has error get_fut_taq
SC1907 at 2019-05-21 00:00:00 has error get_fut_taq
SC1907 at 2019-05-22 00:00:00 has error get_fut_taq
SC1907 at 2019-05-23 00:00:00 has error get_fut_taq
SC1907 at 2019-05-24 00:00:00 has error get_fut_taq
SC1907 at 2019-05-27 00:00:00 has error get_fut_taq
SC1907 at 2019-05-28 00:00:00 has error get_fut_taq
SC1907 at 2019-05-29 00:00:00 has error get_fut_taq
SC1907 at 2019-05-30 00:00:00 has error get_fut_taq
SC1907 at 2019-05-31 00:00:00 has error get_fut_taq
SC1907 at 2019-06-03 00:00:00 has error get_fut_taq
SC1907 at 2019-06-04 00:00:00 has error get_fut_taq
SC1907 at 2019-06-05 00:00:00 has error get_fut_taq
SC1907 at 2019-06-06 00:00:00 has error get_fut_taq
SC1907 at 2019-06-10 00:00:00 has error get_fut_taq
SC1907 at 2019-06-11 00:00:00 has error get_fut_taq
SC1907 at 2019-06-12 00:00:00 has error get_fut_taq
SC1907 at 2019-06-13 00:00:00 has error get_fut_taq
SC1908 at 2019-06-14 00:00:00 has error get_fut_taq
SC1908 at 2019-06-17 00:00:00 has error get_fut_taq
SC1908 at 2019-06-18 00:00:00 has error get_fut_taq
time approximation: 0:50:05.053976
idx:  4535
row[date]:  2019-06-19 00:00:00
row[symbol]:  AP1910
SC1908 at 2019-06-19 00:00:00 has error get_fut_taq
SC1908 at 2019-06-20 00:00:00 has error get_fut_taq
SC1908 at 2019-06-21 00:00:00 has error get_fut_taq
SC1908 at 2019-06-24 00:00:00 has error get_fut_taq
SC1908 at 2019-06-25 00:00:00 has error get_fut_taq
SC1908 at 2019-06-26 00:00:00 has error get_fut_taq
SC1908 at 2019-06-27 00:00:00 has error get_fut_taq
SC1908 at 2019-06-28 00:00:00 has error get_fut_taq
SC1908 at 2019-07-01 00:00:00 has error get_fut_taq
SC1908 at 2019-07-02 00:00:00 has error get_fut_taq
SC1908 at 2019-07-03 00:00:00 has error get_fut_taq
SC1908 at 2019-07-04 00:00:00 has error get_fut_taq
SC1908 at 2019-07-05 00:00:00 has error get_fut_taq
SC1908 at 2019-07-08 00:00:00 has error get_fut_taq
SC1908 at 2019-07-09 00:00:00 has error get_fut_taq
SC1908 at 2019-07-10 00:00:00 has error get_fut_taq
SC1908 at 2019-07-11 00:00:00 has error get_fut_taq
SC1909 at 2019-07-12 00:00:00 has error get_fut_taq
SC1909 at 2019-07-15 00:00:00 has error get_fut_taq
SC1909 at 2019-07-16 00:00:00 has error get_fut_taq
SC1909 at 2019-07-17 00:00:00 has error get_fut_taq
SC1909 at 2019-07-18 00:00:00 has error get_fut_taq
SC1909 at 2019-07-19 00:00:00 has error get_fut_taq
SC1909 at 2019-07-22 00:00:00 has error get_fut_taq
time approximation: 0:51:20.545961
idx:  1354
row[date]:  2019-07-23 00:00:00
row[symbol]:  A1909
SC1909 at 2019-07-23 00:00:00 has error get_fut_taq
SC1909 at 2019-07-24 00:00:00 has error get_fut_taq
SC1909 at 2019-07-25 00:00:00 has error get_fut_taq
SC1909 at 2019-07-26 00:00:00 has error get_fut_taq
SC1909 at 2019-07-29 00:00:00 has error get_fut_taq
SC1909 at 2019-07-30 00:00:00 has error get_fut_taq
SC1909 at 2019-07-31 00:00:00 has error get_fut_taq
SC1909 at 2019-08-01 00:00:00 has error get_fut_taq
SC1909 at 2019-08-02 00:00:00 has error get_fut_taq
SC1909 at 2019-08-05 00:00:00 has error get_fut_taq
SC1909 at 2019-08-06 00:00:00 has error get_fut_taq
SC1909 at 2019-08-07 00:00:00 has error get_fut_taq
SC1909 at 2019-08-08 00:00:00 has error get_fut_taq
SC1909 at 2019-08-09 00:00:00 has error get_fut_taq
SC1910 at 2019-08-12 00:00:00 has error get_fut_taq

NR2002 at 2019-08-12 00:00:00 has error get_fut_taq
SC1910 at 2019-08-13 00:00:00 has error get_fut_taq
NR2002 at 2019-08-13 00:00:00 has error get_fut_taq
SC1910 at 2019-08-14 00:00:00 has error get_fut_taq
NR2002 at 2019-08-14 00:00:00 has error get_fut_taq
NR2002 at 2019-08-15 00:00:00 has error get_fut_taq
SC1910 at 2019-08-15 00:00:00 has error get_fut_taq
NR2002 at 2019-08-16 00:00:00 has error get_fut_taq
SC1910 at 2019-08-16 00:00:00 has error get_fut_taq
NR2002 at 2019-08-19 00:00:00 has error get_fut_taq
SC1910 at 2019-08-19 00:00:00 has error get_fut_taq
NR2002 at 2019-08-20 00:00:00 has error get_fut_taq
SC1910 at 2019-08-20 00:00:00 has error get_fut_taq
SC1910 at 2019-08-21 00:00:00 has error get_fut_taq
NR2002 at 2019-08-21 00:00:00 has error get_fut_taq
NR2002 at 2019-08-22 00:00:00 has error get_fut_taq
SC1910 at 2019-08-22 00:00:00 has error get_fut_taq
NR2002 at 2019-08-23 00:00:00 has error get_fut_taq
SC1910 at 2019-08-23 00:00:00 has error get_fut_taq
time approximation: 0:53:12.604179
idx:  12997
row[date]:  2019-08-26 00:00:00
row[symbol]:  CU1910
SC1910 at 2019-08-26 00:00:00 has error get_fut_taq
NR2002 at 2019-08-26 00:00:00 has error get_fut_taq
SC1910 at 2019-08-27 00:00:00 has error get_fut_taq
NR2002 at 2019-08-27 00:00:00 has error get_fut_taq
NR2002 at 2019-08-28 00:00:00 has error get_fut_taq
SC1910 at 2019-08-28 00:00:00 has error get_fut_taq
SC1910 at 2019-08-29 00:00:00 has error get_fut_taq
NR2002 at 2019-08-29 00:00:00 has error get_fut_taq
SC1910 at 2019-08-30 00:00:00 has error get_fut_taq
NR2002 at 2019-08-30 00:00:00 has error get_fut_taq
SC1910 at 2019-09-02 00:00:00 has error get_fut_taq
NR2002 at 2019-09-02 00:00:00 has error get_fut_taq
NR2002 at 2019-09-03 00:00:00 has error get_fut_taq
SC1910 at 2019-09-03 00:00:00 has error get_fut_taq
SC1910 at 2019-09-04 00:00:00 has error get_fut_taq
NR2002 at 2019-09-04 00:00:00 has error get_fut_taq
NR2002 at 2019-09-05 00:00:00 has error get_fut_taq
SC1910 at 2019-09-05 00:00:00 has error get_fut_taq
SC1911 at 2019-09-06 00:00:00 has error get_fut_taq
NR2002 at 2019-09-06 00:00:00 has error get_fut_taq
#####finished checking all days#####
num_records_df:
             date  symbol num taq records
0     2014-01-02   A1409            5190
17323 2014-01-02   J1405           18668
13198 2014-01-02  FG1405           16941
34995 2014-01-02  RU1405           26049
18715 2014-01-02  JD1405            6267
11619 2014-01-02  CU1403           21903
39430 2014-01-02  TA1405           13740
20107 2014-01-02  JM1405           15520
40822 2014-01-02  TF1403               0
8977  2014-01-02  CF1405            6960
33603 2014-01-02  RM1405           22808
15931 2014-01-02   I1405            6669
7585  2014-01-02   C1405            3548
22891 2014-01-02   M1405           21350
43893 2014-01-02   Y1405           19776
32211 2014-01-02  RB1405           25721
4597  2014-01-02  AU1406           19171
26679 2014-01-02  OI1405           15712
2784  2014-01-02  AL1404            1670
46188 2014-01-02  ZN1403           10643
1392  2014-01-02  AG1406           26932
29463 2014-01-02  PB1402            1014
28071 2014-01-02   P1405           22476
42501 2014-01-02   V1405            2689
36940 2014-01-02  SR1405           12051
21499 2014-01-02   L1405           16187
18716 2014-01-03  JD1405           11476
8978  2014-01-03  CF1405            4207
26680 2014-01-03  OI1405           15539
22892 2014-01-03   M1405           21865
...          ...     ...             ...
22890 2019-09-12   L2001           24000
25565 2019-09-12  MA2001           43641
1391  2019-09-12   A2001           17196
36386 2019-09-12  RU2001           35032
46187 2019-09-12  ZC2001            8075
2783  2019-09-12  AG1912           64526
45284 2019-09-12   Y2001           28997
4175  2019-09-12  AL1911           22671
4596  2019-09-12  AP2001           17495
43892 2019-09-12   V2001           14801
5988  2019-09-12  AU1912           52137
6438  2019-09-12   B1911           11695
42500 2019-09-12  UR2001            5781
42475 2019-09-12  TS1912            4964
42213 2019-09-12  TF1912           10068
15930 2019-09-12  HC2001           33294
7584  2019-09-12  BU1912           39558
40821 2019-09-12  TA2001           45669
10368 2019-09-12  CF2001           30483
10462 2019-09-12  CJ1912           17663
39429 2019-09-12   T1912           18331
11618 2019-09-12  CS2001           11202
13010 2019-09-12  CU1911           29072
38331 2019-09-12  SR2001           38866
28070 2019-09-12  OI2001           21371
13197 2019-09-12  EG2001           31986
14589 2019-09-12  FG2001           38184
36939 2019-09-12  SP2001           29603
8976  2019-09-12   C2001           24969
47579 2019-09-12  ZN1911           39040

[47580 rows x 3 columns]

In [4]:
num_records_df = num_records_df.dropna()

In [5]:
num_records_df.to_csv('num_records_df.csv')

In [48]:
one_pct_quantile = num_records_df['num taq records'].quantile(q=0.01)
print('one_pct_quantile: ', one_pct_quantile)
ninety_nine_pct_quantile = num_records_df['num taq records'].quantile(q=0.99)
print('ninety_nine_pct_quantile: ', ninety_nine_pct_quantile)
less_records_df = num_records_df[num_records_df['num taq records'] < one_pct_quantile]
less_records_df = less_records_df.sort_values(by='num taq records')
more_records_df = num_records_df[num_records_df['num taq records'] > ninety_nine_pct_quantile]
more_records_df = more_records_df.sort_values(by='num taq records', ascending=False)

one_pct_quantile:  1292.2799999999997
ninety_nine_pct_quantile:  55759.98

In [54]:
less_than_one_pct_TAQ = num_records_df[num_records_df['num taq records'] <= one_pct_quantile].sort_values(by='num taq records')

In [56]:
less_than_one_pct_TAQ.to_csv('less_than_one_pct_TAQ.csv')

In [57]:
less_than_one_pct_TAQ

            date  symbol num taq records
40822 2014-01-02  TF1403               0
6012  2017-12-14   B1805             130
6013  2017-12-15   B1805             137
6017  2017-12-21   B1805             139
42388 2019-05-13  TS1906             163
6000  2017-11-28   B1805             173
42387 2019-05-10  TS1906             176
6001  2017-11-29   B1805             179
6011  2017-12-13   B1805             183
6018  2017-12-22   B1805             191
42352 2019-03-18  TS1906             200
42395 2019-05-22  TS1906             202
42360 2019-03-28  TS1906             204
42350 2019-03-14  TS1906             206
6016  2017-12-20   B1805             222
6022  2017-12-28   B1805             223
42343 2019-03-05  TS1906             229
6008  2017-12-08   B1805             239
42275 2018-11-20  TS1812             243
6002  2017-11-30   B1805             246
42331 2019-02-15  TS1903             250
42372 2019-04-16  TS1906             252
42361 2019-03-29  TS1906             257
6009  2017-12-11   B1805             259
42353 2019-03-19  TS1906             259
42386 2019-05-09  TS1906             269
6010  2017-12-12   B1805             271
29595 2014-07-18  PB1408             275
6019  2017-12-25   B1805             275
5993  2017-11-17   B1805             287
...          ...     ...             ...
42618 2014-06-27   V1409            1230
42632 2014-07-17   V1409            1230
42683 2014-09-29   V1501            1238
42527 2014-02-14   V1405            1243
42531 2014-02-20   V1405            1245
29576 2014-06-23  PB1408            1247
42652 2014-08-14   V1501            1255
42319 2019-01-23  TS1903            1256
42648 2014-08-08   V1501            1256
42535 2014-02-26   V1405            1259
14779 2014-12-25  HC1505            1259
6043  2018-01-29   B1809            1261
29466 2014-01-07  PB1402            1261
42684 2014-09-30   V1501            1262
42441 2019-07-26  TS1909            1264
29504 2014-03-07  PB1404            1264
6050  2018-02-07   B1809            1264
42373 2019-04-17  TS1906            1266
42941 2015-10-26   V1605            1268
42726 2014-12-04   V1505            1270
14687 2014-08-11  HC1410            1271
42530 2014-02-19   V1405            1274
29495 2014-02-24  PB1404            1275
42517 2014-01-24   V1405            1275
42414 2019-06-19  TS1909            1276
42880 2015-07-22   V1509            1277
29464 2014-01-03  PB1402            1283
14688 2014-08-12  HC1410            1287
29508 2014-03-13  PB1404            1288
42910 2015-09-02   V1601            1292

[473 rows x 3 columns]

In [5]:
num_records_df = pd.read_csv('num_records_df.csv', index_col=0)

In [7]:
num_records_df

            date  symbol num taq records
0     2014-01-02   A1409            5190
17323 2014-01-02   J1405           18668
13198 2014-01-02  FG1405           16941
34995 2014-01-02  RU1405           26049
18715 2014-01-02  JD1405            6267
11619 2014-01-02  CU1403           21903
39430 2014-01-02  TA1405           13740
20107 2014-01-02  JM1405           15520
40822 2014-01-02  TF1403               0
8977  2014-01-02  CF1405            6960
33603 2014-01-02  RM1405           22808
15931 2014-01-02   I1405            6669
7585  2014-01-02   C1405            3548
22891 2014-01-02   M1405           21350
43893 2014-01-02   Y1405           19776
32211 2014-01-02  RB1405           25721
4597  2014-01-02  AU1406           19171
26679 2014-01-02  OI1405           15712
2784  2014-01-02  AL1404            1670
46188 2014-01-02  ZN1403           10643
1392  2014-01-02  AG1406           26932
29463 2014-01-02  PB1402            1014
28071 2014-01-02   P1405           22476
42501 2014-01-02   V1405            2689
36940 2014-01-02  SR1405           12051
21499 2014-01-02   L1405           16187
18716 2014-01-03  JD1405           11476
8978  2014-01-03  CF1405            4207
26680 2014-01-03  OI1405           15539
22892 2014-01-03   M1405           21865
...          ...     ...             ...
22890 2019-09-12   L2001           24000
25565 2019-09-12  MA2001           43641
1391  2019-09-12   A2001           17196
36386 2019-09-12  RU2001           35032
46187 2019-09-12  ZC2001            8075
2783  2019-09-12  AG1912           64526
45284 2019-09-12   Y2001           28997
4175  2019-09-12  AL1911           22671
4596  2019-09-12  AP2001           17495
43892 2019-09-12   V2001           14801
5988  2019-09-12  AU1912           52137
6438  2019-09-12   B1911           11695
42500 2019-09-12  UR2001            5781
42475 2019-09-12  TS1912            4964
42213 2019-09-12  TF1912           10068
15930 2019-09-12  HC2001           33294
7584  2019-09-12  BU1912           39558
40821 2019-09-12  TA2001           45669
10368 2019-09-12  CF2001           30483
10462 2019-09-12  CJ1912           17663
39429 2019-09-12   T1912           18331
11618 2019-09-12  CS2001           11202
13010 2019-09-12  CU1911           29072
38331 2019-09-12  SR2001           38866
28070 2019-09-12  OI2001           21371
13197 2019-09-12  EG2001           31986
14589 2019-09-12  FG2001           38184
36939 2019-09-12  SP2001           29603
8976  2019-09-12   C2001           24969
47579 2019-09-12  ZN1911           39040

[47203 rows x 3 columns]

In [41]:
#查找有重复taq数据的合约
duplicated_records_df = pd.DataFrame(columns=['date','symbol', 'num taq records'])
df_size = num_records_df.shape[0]
start_time = time()
i=0
for idx, row in num_records_df.iterrows():
    i+=1

    fut_taq = get_fut_taq(row['symbol'], start_date=row['date'], end_date=row['date'])
    #print('fut_taq: ', fut_taq)
    #has_duplicated_records = (fut_taq.groupby('datetime').count() >= 2).any(axis=None)
    has_duplicated_records = fut_taq.duplicated().any()
    if i % 1000 == 0:
        end_time = time()
        duration = end_time - start_time
        all_duration = duration * (df_size / 1000)
        start_time = time()
        print('time approximation: {}'.format(timedelta(seconds=all_duration)))
        print('i: ', i)
        print('idx: ', idx)
        #print('row: \n', row)
        print('row[symbol]: ', row['symbol'])
        print('row[date]: ', row['date'])
        print('type(row[date]): ', type(row['date']))    
        print('has_duplicated_records: ', has_duplicated_records)
    if has_duplicated_records:
        duplicated_records_df = duplicated_records_df.append({'date':row['date'], 'symbol':row['symbol'], 'num taq records':row['num taq records']}, ignore_index = True)
        
        
print('####finished checking all duplicated records##########')

time approximation: 0:40:44.128258
i:  1000
idx:  22929
row[symbol]:  M1409
row[date]:  2014-03-04 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:44:08.221386
i:  2000
idx:  2858
row[symbol]:  AL1407
row[date]:  2014-04-24 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:41:29.012098
i:  3000
idx:  13308
row[symbol]:  FG1409
row[date]:  2014-06-18 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:43:54.135182
i:  4000
idx:  21643
row[symbol]:  L1501
row[date]:  2014-08-05 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:44:27.373893
i:  5000
idx:  2963
row[symbol]:  AL1412
row[date]:  2014-09-24 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:44:30.471880
i:  6000
idx:  1605
row[symbol]:  AG1506
row[date]:  2014-11-18 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:45:15.518645
i:  7000
idx:  33850
row[symbol]:  RM1505
row[date]:  2015-01-07 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:43:45.776839
i:  8000
idx:  6472
row[symbol]:  BU1506
row[date]:  2015-02-27 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:43:52.568795
i:  9000
idx:  21810
row[symbol]:  L1509
row[date]:  2015-04-15 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:46:40.558319
i:  10000
idx:  31160
row[symbol]:  PP1509
row[date]:  2015-05-28 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:44:19.561529
i:  11000
idx:  33974
row[symbol]:  RM1509
row[date]:  2015-07-10 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:47:31.061092
i:  12000
idx:  19117
row[symbol]:  JD1601
row[date]:  2015-08-24 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:49:25.128879
i:  13000
idx:  14971
row[symbol]:  HC1601
row[date]:  2015-10-14 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:48:24.182462
i:  14000
idx:  1854
row[symbol]:  AG1606
row[date]:  2015-11-25 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:50:27.510415
i:  15000
idx:  46680
row[symbol]:  ZN1603
row[date]:  2016-01-07 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:48:31.637317
i:  16000
idx:  38560
row[symbol]:  T1606
row[date]:  2016-02-25 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:51:53.804986
i:  17000
idx:  10778
row[symbol]:  CS1609
row[date]:  2016-04-07 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:53:32.306287
i:  18000
idx:  581
row[symbol]:  A1609
row[date]:  2016-05-20 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:55:22.954513
i:  19000
idx:  9587
row[symbol]:  CF1701
row[date]:  2016-07-04 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:58:10.848805
i:  20000
idx:  19354
row[symbol]:  JD1701
row[date]:  2016-08-12 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:55:59.857099
i:  21000
idx:  30132
row[symbol]:  PB1611
row[date]:  2016-09-27 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:00:02.358282
i:  22000
idx:  23589
row[symbol]:  M1701
row[date]:  2016-11-14 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:05:51.140819
i:  23000
idx:  16659
row[symbol]:  I1705
row[date]:  2016-12-26 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:00:38.075917
i:  24000
idx:  46945
row[symbol]:  ZN1704
row[date]:  2017-02-13 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:00:09.894966
i:  25000
idx:  31606
row[symbol]:  PP1705
row[date]:  2017-03-27 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:09:37.919534
i:  26000
idx:  41638
row[symbol]:  TF1709
row[date]:  2017-05-10 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:05:03.324652
i:  27000
idx:  23736
row[symbol]:  M1709
row[date]:  2017-06-22 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:00:21.223832
i:  28000
idx:  45671
row[symbol]:  ZC1709
row[date]:  2017-08-03 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:03:43.068442
i:  29000
idx:  26171
row[symbol]:  NI1801
row[date]:  2017-09-13 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:40:38.153148
i:  30000
idx:  14132
row[symbol]:  FG1801
row[date]:  2017-11-01 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:04:11.174790
i:  31000
idx:  31781
row[symbol]:  PP1805
row[date]:  2017-12-11 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:00.298219
i:  32000
idx:  8575
row[symbol]:  C1805
row[date]:  2018-01-19 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:55:48.861387
i:  33000
idx:  30481
row[symbol]:  PB1804
row[date]:  2018-03-07 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:46.842935
i:  34000
idx:  4251
row[symbol]:  AP1810
row[date]:  2018-04-18 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:17.081091
i:  35000
idx:  43575
row[symbol]:  V1809
row[date]:  2018-05-30 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:50.437879
i:  36000
idx:  23993
row[symbol]:  M1809
row[date]:  2018-07-10 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:56:30.399526
i:  37000
idx:  7322
row[symbol]:  BU1812
row[date]:  2018-08-16 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:28.186756
i:  38000
idx:  25330
row[symbol]:  MA1901
row[date]:  2018-09-25 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:56:30.975464
i:  39000
idx:  7376
row[symbol]:  BU1812
row[date]:  2018-11-08 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:56:46.021022
i:  40000
idx:  26477
row[symbol]:  NI1905
row[date]:  2018-12-17 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False

time approximation: 0:58:43.268523
i:  41000
idx:  33446
row[symbol]:  RB1905
row[date]:  2019-01-23 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:00:50.057396
i:  42000
idx:  11488
row[symbol]:  CS1905
row[date]:  2019-03-07 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:57:50.039103
i:  43000
idx:  5884
row[symbol]:  AU1906
row[date]:  2019-04-15 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:54:53.252867
i:  44000
idx:  34915
row[symbol]:  RM1909
row[date]:  2019-05-23 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:59:27.477310
i:  45000
idx:  5934
row[symbol]:  AU1912
row[date]:  2019-06-28 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 0:58:23.187072
i:  46000
idx:  43863
row[symbol]:  V1909
row[date]:  2019-08-02 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
time approximation: 1:04:41.006251
i:  47000
idx:  5984
row[symbol]:  AU1912
row[date]:  2019-09-06 00:00:00
type(row[date]):  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
has_duplicated_records:  False
####finished checking all duplicated records##########

In [42]:
duplicated_records_df

         date  symbol num taq records
0  2019-09-05  TS1912            6821
1  2019-09-05  TF1912           41219
2  2019-09-05   T1912           30293
3  2019-09-06  TF1912           37076
4  2019-09-06   T1912           32964
5  2019-09-06  TS1912           22422
6  2019-09-09   T1912           31040
7  2019-09-09  TF1912           40526
8  2019-09-09  TS1912           11568
9  2019-09-12  RM2001           38972
10 2019-09-12  MA2001           43641
11 2019-09-12  ZC2001            8075
12 2019-09-12  AP2001           17495
13 2019-09-12  UR2001            5781
14 2019-09-12  TA2001           45669
15 2019-09-12  CF2001           30483
16 2019-09-12  CJ1912           17663
17 2019-09-12  SR2001           38866
18 2019-09-12  OI2001           21371
19 2019-09-12  FG2001           38184

In [58]:
get_fut_taq('CS1905', start_date='2019-02-18', end_date='2019-02-18').sort_values(by='datetime')

,datetime,last,volume,turnover,oi,a1,a1v,b1,b1v,symbol
trading_date,,,,,,,,,,
2019-02-18,2019-02-18 08:59:00.307,2285.0,692,15812200,194134,2286.0,3,2285.0,314,CS1905
2019-02-18,2019-02-18 09:00:00.420,2284.0,1388,31716000,194770,2285.0,21,2284.0,12,CS1905
2019-02-18,2019-02-18 09:00:00.923,2282.0,1808,41302700,195084,2282.0,8,2281.0,35,CS1905
2019-02-18,2019-02-18 09:00:01.420,2281.0,2200,50247360,195180,2282.0,171,2281.0,9,CS1905
2019-02-18,2019-02-18 09:00:01.920,2282.0,2598,59326920,195344,2282.0,130,2281.0,3,CS1905
2019-02-18,2019-02-18 09:00:02.413,2280.0,2872,65577780,195310,2281.0,32,2280.0,923,CS1905
2019-02-18,2019-02-18 09:00:02.897,2282.0,2988,68223780,195320,2282.0,48,2280.0,921,CS1905
2019-02-18,2019-02-18 09:00:03.400,2282.0,3146,71828740,195328,2282.0,38,2280.0,923,CS1905
2019-02-18,2019-02-18 09:00:03.917,2283.0,3328,75982400,195300,2283.0,302,2282.0,233,CS1905
2019-02-18,2019-02-18 09:00:04.410,2283.0,3330,76028060,195302,2283.0,320,2282.0,249,CS1905
2019-02-18,2019-02-18 09:00:04.917,2283.0,3832,87488000,195322,2283.0,104,2282.0,12,CS1905
2019-02-18,2019-02-18 09:00:05.417,2282.0,3938,89907240,195396,2283.0,137,2282.0,92,CS1905
2019-02-18,2019-02-18 09:00:05.923,2282.0,3976,90774400,195400,2283.0,153,2282.0,85,CS1905
2019-02-18,2019-02-18 09:00:06.360,2282.0,4012,91595980,195376,2283.0,137,2282.0,70,CS1905
2019-02-18,2019-02-18 09:00:06.877,2281.0,4172,95247340,195392,2282.0,31,2281.0,108,CS1905
2019-02-18,2019-02-18 09:00:07.420,2281.0,4262,97300240,195438,2282.0,35,2281.0,63,CS1905
2019-02-18,2019-02-18 09:00:07.913,2282.0,4364,99627840,195418,2283.0,126,2282.0,50,CS1905
2019-02-18,2019-02-18 09:00:08.377,2282.0,4444,101453440,195444,2283.0,122,2282.0,23,CS1905
2019-02-18,2019-02-18 09:00:08.920,2282.0,4446,101499080,195446,2283.0,123,2282.0,66,CS1905
2019-02-18,2019-02-18 09:00:09.387,2282.0,4660,106382540,195574,2282.0,34,2281.0,158,CS1905
2019-02-18,2019-02-18 09:00:09.913,2282.0,4664,106473820,195578,2282.0,99,2281.0,169,CS1905
2019-02-18,2019-02-18 09:00:10.407,2282.0,4974,113547300,195744,2282.0,7,2281.0,131,CS1905
2019-02-18,2019-02-18 09:00:10.893,2282.0,4998,114094940,195748,2283.0,87,2282.0,18,CS1905
2019-02-18,2019-02-18 09:00:11.413,2282.0,5026,114733980,195760,2283.0,100,2282.0,22,CS1905
2019-02-18,2019-02-18 09:00:11.873,2282.0,5042,115099100,195760,2283.0,71,2282.0,25,CS1905
2019-02-18,2019-02-18 09:00:12.367,2283.0,5072,115783760,195786,2283.0,68,2282.0,45,CS1905
2019-02-18,2019-02-18 09:00:12.910,2282.0,5078,115920700,195786,2283.0,68,2282.0,44,CS1905
2019-02-18,2019-02-18 09:00:13.363,2283.0,5202,118750620,195844,2283.0,56,2282.0,41,CS1905
2019-02-18,2019-02-18 09:00:13.920,2282.0,5218,119115740,195842,2283.0,55,2282.0,41,CS1905
2019-02-18,2019-02-18 09:00:14.380,2282.0,5218,119115740,195842,2283.0,55,2282.0,62,CS1905
...,...,...,...,...,...,...,...,...,...,...
2019-02-18,2019-02-18 09:09:43.890,2271.0,36724,835401060,198354,2272.0,156,2271.0,120,CS1905
2019-02-18,2019-02-18 09:09:44.367,2271.0,36732,835582740,198358,2272.0,157,2271.0,117,CS1905
2019-02-18,2019-02-18 09:09:44.740,2272.0,36734,835628180,198356,2272.0,156,2271.0,118,CS1905
2019-02-18,2019-02-18 09:09:45.303,2271.0,36922,839899520,198374,2272.0,132,2271.0,131,CS1905
2019-02-18,2019-02-18 09:09:45.857,2271.0,36922,839899520,198374,2272.0,133,2271.0,131,CS1905
2019-02-18,2019-02-18 09:09:46.283,2271.0,36938,840262980,198380,2272.0,129,2271.0,128,CS1905
2019-02-18,2019-02-18 09:09:46.890,2272.0,37124,844488900,198394,2272.0,38,2271.0,167,CS1905
2019-02-18,2019-02-18 09:09:47.343,2271.0,37128,844579740,198398,2272.0,47,2271.0,167,CS1905
2019-02-18,2019-02-18 09:09:48.307,2271.0,37132,844670580,198402,2272.0,28,2271.0,260,CS1905
2019-02-18,2019-02-18 09:09:48.897,2272.0,37140,844852340,198400,2272.0,29,2271.0,260,CS1905
2019-02-18,2019-02-18 09:09:49.247,2271.0,37142,844897760,198402,2272.0,30,2271.0,259,CS1905
2019-02-18,2019-02-18 09:09:49.817,2271.0,37142,844897760,198402,2272.0,35,2271.0,259,CS1905
2019-02-18,2019-02-18 09:09:50.257,2271.0,37144,844943180,198404,2272.0,57,2271.0,258,CS1905
2019-02-18,2019-02-18 09:09:50.743,2271.0,37144,844943180,198404,2272.0,65,2271.0,258,CS1905
2019-02-18,2019-02-18 09:09:51.720,2271.0,37144,844943180,198404,2272.0,65,2271.0,257,CS1905
2019-02-18,2019-02-18 09:09:52.397,2271.0,37164,845397380,198414,2272.0,66,2271.0,247,CS1905
2019-02-18,2019-02-18 09:09:52.843,2272.0,37166,845442820,198414,2272.0,65,2271.0,248,CS1905
2019-02-18,2019-02-18 09:09:53.407,2271.0,37172,845579080,198418,2272.0,67,2271.0,246,CS1905
2019-02-18,2019-02-18 09:09:53.717,2272.0,37176,845669960,198418,2272.0,65,2271.0,246,CS1905
2019-02-18,2019-02-18 09:09:54.370,2272.0,37176,845669960,198418,2272.0,64,2271.0,246,CS1905
2019-02-18,2019-02-18 09:09:54.693,2272.0,37176,845669960,198418,2272.0,65,2271.0,246,CS1905
2019-02-18,2019-02-18 09:09:55.257,2271.0,37178,845715380,198420,2272.0,66,2271.0,245,CS1905
2019-02-18,2019-02-18 09:09:55.880,2272.0,37310,848714420,198430,2273.0,399,2272.0,28,CS1905
2019-02-18,2019-02-18 09:09:56.377,2272.0,37326,849077940,198446,2273.0,408,2272.0,33,CS1905
2019-02-18,2019-02-18 09:09:56.857,2272.0,37392,850577460,198440,2272.0,267,2271.0,263,CS1905
2019-02-18,2019-02-18 09:09:57.403,2271.0,37442,851713420,198442,2272.0,245,2271.0,242,CS1905
2019-02-18,2019-02-18 09:09:57.430,2271.0,37442,851713420,198442,2272.0,270,2271.0,242,CS1905
2019-02-18,2019-02-18 09:09:58.737,2272.0,37452,851940580,198442,2272.0,267,2271.0,240,CS1905
2019-02-18,2019-02-18 09:09:59.313,2271.0,37648,856393660,198444,2272.0,171,2271.0,238,CS1905
2019-02-18,2019-02-18 09:09:59.833,2271.0,37648,856393660,198444,2272.0,176,2271.0,238,CS1905

In [33]:
taq.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [47]:
duplicated_records_df.to_csv('duplicated_records.csv')